<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="../layout_external.html" />
<head>
    <title>Expired Password Request</title>
</head>
<body id="admin">

    <div class="row">
        <h1>Expired Password Request</h1>
    </div>

    <div class="row overlay">
        <p class="text-error">
        The password request url you entered has expired. We have sent you a new password request link by email.
            Please try again using this link instead.
         </p>
    </div>

</body>
</html>


