<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="../layout_external.html" />
<head>
    <title>Password Request</title>
</head>
<body id="admin">

    <div class="row">
    <h1>Set Your Password</h1>
    </div>

    <div class="row overlay">
    <h4>
        Welcome ${c.user.name} please enter a new password.
    </h4>
    <p> Ensure that the password is at least 10 characters long.</p>
    <form class="form-horizontal" method="POST">

        <div class="control-group" title="Your new password">
            <label class="control-label">
                Username
            </label>
            <div class="controls">
                <span class="uneditable-input">${c.user.username}</span>
             </div>
        </div>


        <div class="control-group" title="Your new password">
            <label class="control-label">
                Password
            </label>
            <div class="controls">
                <input id="password_one" name="password_one" type="password" value="${c.password_one}"/>
             </div>
        </div>

        <div class="control-group" title="Your new password">
            <label class="control-label">
                Retype your Password
            </label>
            <div class="controls">
                <input id="password_two" name="password_two" type="password" value="${c.password_two}"/>
             </div>
        </div>

        <input type="hidden" name="uuid" value="${c.uuid}" />
        <div class="controls">
            <input type="submit" class="btn btn-primary btn-large pull-right control-group" value="Submit" />
        </div>
    </form>

    </div>
</body>
</html>

