<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="../layout_external.html" />
<head>
    <title>Password Request</title>
</head>
<body id="admin">

    <div class="row">
    <h1>Set Your Password</h1>
    </div>

    <div class="row overlay">
    <h4>
        Welcome ${c.user.name} please enter a new password.
    </h4>
    <p> Ensure that the password is at least ${h.constants.PASSWORD_MINIMUM_LENGTH} characters long.</p>
    <form class="form-horizontal" method="POST" action="${h.url(controller='home', action='password', id=c.user.id)}">

        <py:with vars="success_messages = h.success_flash.pop_messages()">
            <div  py:if="success_messages" id="flash_success" class="alert alert-success">
                ${success_messages}
            </div>
        </py:with>

        <py:with vars="error_messages = h.error_flash.pop_messages()">
            <div  py:if="error_messages" id="flash_error" class="alert alert-danger">
                    ${error_messages}
            </div>
        </py:with>


        <div class="control-group" title="Username">
            <label class="control-label">
                Username
            </label>
            <div class="controls">
                <span class="uneditable-input">${c.user.username}</span>
             </div>
        </div>


        <div class="control-group" title="New password">
            <label class="control-label">
                Password
            </label>
            <div class="controls">
                <input id="password_one" name="password_one" type="password" value="${c.password_one}" placeholder="Password"/>
             </div>
        </div>

        <div class="control-group" title="Retype your new password">
            <label class="control-label">
                Retype your Password
            </label>
            <div class="controls">
                <input id="password_two" name="password_two" type="password" value="${c.password_two}" placeholder="Retype password"/>
             </div>
        </div>

        <input type="hidden" name="uuid" value="${c.uuid}" />
        <div class="controls">
            <input type="submit" class="btn btn-primary btn-large pull-right control-group" value="Submit" />
        </div>
    </form>

    </div>
</body>
</html>

