<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="../layout_external.html" />
<head>
    <title>Invalid Password Request</title>
</head>
<body id="admin">

    <div class="row">
        <h1>Invalid Password Request</h1>
    </div>

    <div class="row overlay">
        <p class="text-error">
        The url for this page is incorrect it does not refer to a known password request.
        Please make sure that you copy the <strong>whole</strong> url as it appears in your email.
         </p>
    </div>

</body>
</html>


