<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="../layout.html" />
<head>
    <title>Account Requests</title>
</head>
<body id="admin">
    <h1>Account Requests</h1>


    <div>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Institution</th>
                <th>Usage</th>
                <th>Approve?</th>
            </thead>
            <tbody>
                <tr py:if="len(c.account_requests) == 0">
                    <td colspan="5">
                        No requests outstanding
                    </td>
                </tr>
                <tr py:if="len(c.account_requests) != 0" py:for="account_request in c.account_requests">
                    <td>
                        ${account_request.first_name} ${account_request.last_name}
                    </td>
                    <td>
                        ${account_request.email}
                    </td>
                    <td>
                        ${account_request.institution}
                    </td>
                    <td>
                        <i class="fa fa-info-circle" data-toggle="tooltip" title="Usage" data-trigger="click | hover"
                                         data-content="${account_request.usage}"></i>

                    </td>
                    <td>
                        <form action="${h.url(controller='user', action='requests', id=account_request.id)}"
                              method="post"
                              style="width:200px"
                              class="form-inline">

                            <div class="controls-row btn-group" style="width:100%">
                            <button style="width:100px" type="submit" name="action" value="accept" class="btn btn-success"> <i class="icon-ok icon-white" /> Accept </button>



                            <button
                                    style="width:100px"
                                    type="submit"
                                    name="action"
                                    value="reject"
                                    class="btn btn-danger"
                                    data-confirm="You can not undo rejecting a request and the reject reason will be EMAILED to the user. Are you sure you want to reject the request?">
                                        <i class=" icon-remove icon-white" /> Reject
                            </button>
                            </div>
                            <div class="controls-row">
                                <textarea style="width:186px" name="reason" value="" title="Rejection reason which will be emailed to the requester." placeholder="Rejection Reason"/>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>

