html, body {
    height: 100%;
}

#wrap {
    height: auto !important;
    margin: 0 auto -100px;
    min-height: 100%;
}

#wrap > .container, #wrap > .container-fluid {
    padding-top: 60px;
    padding-bottom: 40px;
}

#footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
}

#footer > a {
    display: block;
    padding: 10px;
}

#push, #footer {
    /* 1px less than the padding, margins due to the 1px border on the footer */
    height: 99px;
}

#status {
    margin-right: 1em;
    color: #FFFFFF;
    font-size: 85%;
}

.hero-unit h1
{
    font-size: 200%;
}

.navbar{
    filter: none;
}
.navbar-inverse .navbar-inner {
    filter: none;
    background: #00A3CC;
    border-color: #999999;
}

.navbar-inverse .brand {
    font-weight: bold;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a  {
    color: #EFEFEF;
}

.error-message
{
    color: #FF471F;
    font-weight: bold;
    padding: 0.5em;
    border-left: solid 3px #FF471F;
}

span.error-message
{
    float: right;
}

a.brand > i.icon {
    margin: 5px 5px 5px 0;
}

ul#progress li, .nopoints li
{
    list-style-type: none;
}

.nopoints input {
    padding: 0;
}

ul#progress li.done {
    color: #999;
}

ul#progress li i {
    margin-right: 5px;
}

select.multiselect {
    min-height: 150px;

}

form.inline_buttons{
    margin:0;
}


div.arrow {
    background: url(/layout/images/arrow.png) no-repeat center;
}

.container-fluid .olMap
{
    margin-left: 2.12766% !important;
}

.hidden
{
    display: none;
}

/* Modal dataset preview window */
div#dataset-preview, div#image-panel {
    width: 900px;
    margin-left: -420px;
    font-size: 75%;
}

table.sortable th
{
    cursor: pointer;
}


.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #3A5894;
    color: #FFFFFF;
}