

/* The following is the css associated with pretty printing xml */
DIV.xmlElem {PADDING-LEFT: 20px;}
.xmlAttrVal {COLOR:Red; }
.xmlAttrTyp {COLOR:Green; }
.xmlElemTag {COLOR:Blue; }
.highlight {BACKGROUND-COLOR:Yellow; }
.ndgem {FONT-WEIGHT: bold}

/* This is the "metadata" css */
DIV.metadata {PADDING-LEFT: 20px;}
.title {FONT-WEIGHT:bold; FONT-SIZE:140%; FONT-STYLE:italic; }
.keywords {COLOR: Blue; FONT-SIZE:120%; FONT-WEIGHT:bold;}
.metaentry {COLOR: Black}
.abstract {MARGIN-LEFT: 50px; MARGIN-RIGHT:50px; MARGIN-TOP:10px; MARGIN-BOTTOM:10px; font-style:italic; font-size:100%; border:thin solid black; padding: 8px}

.key {BACKGROUND-IMAGE: url(keySm.gif); BACKGROUND-POSITION: right top;BACKGROUND-REPEAT: no-repeat}
.lineHiLite {BORDER-TOP: #ddd 1px solid; BACKGROUND: #f4f4f4; MARGIN: 10px 0px 0px 0px;}
.lineHead {FONT-WEIGHT: bold; FONT-SIZE: 120%; BACKGROUND-COLOR: #f2f2f2;
        PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #666666; 
        PADDING-TOP: 3px; BORDER-BOTTOM: #666666 1px solid;}
.lineHead A:link {COLOR: #ff6600; TEXT-DECORATION: none}
.lineHead A:visited {COLOR: #ff6600; TEXT-DECORATION: none}
.line  {COLOR: #666666; padding: 3px; FONT-SIZE:120%; border-bottom: 1px #ccc; FONT-WEIGHT:bold; }
.line A:hover {COLOR: #336699; TEXT-DECORATION: none}
.line A:active {COLOR: #336699; TEXT-DECORATION: none}
.lineHiLite {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #666666; 
             PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f2f2f2;}
.headingO {FONT-WEIGHT: bold; COLOR: #ff6600; FONT-FAMILY: Arial, Verdana, serif, sans-serif}
    

/* and the layout css follows */
BODY {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 75%; BACKGROUND: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: arial, tahoma, verdana, sans-serif; 
}
FORM {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 90%; PADDING-BOTTOM: 1px; BORDER-LEFT: #666 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #666 1px solid
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: capitalize; PADDING-TOP: 0px
}

DIV.ndgHeader {
    MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; 
    MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px;
    BORDER: #cccccc 1px solid; BACKGROUND-COLOR: white;
    FONT-SIZE: 20px; COLOR: #CC3333; FONT-FAMILY: Arial, Verdana, serif, sans-serif; }

#Main {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px}

/* Left Panel */
/* Tab styling from http://www.alistapart.com/articles/slidingdoors/ */
/* remember li.current {} will pick up li with class current
   and #tabhdr li {} will bring up li in div id tabhdr  */ 

#Left{ WIDTH: 220px; FLOAT: left; margin-top: 10px; margin-bottom: 10px; margin-right:20px;}
#left div {clear: left;}
.tabhdr { float:left; width:100%;line-height:normal;}
.tabhdr ul {margin:0; padding:0; list-style:none;}
.tabhdr a:link {display:block; text-decoration:none; color:black; float:left; width:5em;}
li.current {float:left; margin:0; padding:2px 10px; background-color:wheat; 
            border-left:1px solid black; border-right: 1px solid black; border-top:1px solid black;}
li.hidden {float:left; margin:0; padding:2px 10px;}
.tabcontent {padding:2px 10px;border: 1px solid black;}

/* Left panel finished */

#Contents { WIDTH: 800px; FLOAT: left; margin-left: 10px; }

#Header {color: black; background-color: white; text-align: center; margin-bottom: 10px; padding-top: 3px; padding-right: 10px; padding-left: 10px; padding-bottom: 10px; clear: both; border-bottom: 2px solid wheat; font-size: medium; font-weight:bold;}

a img {border: none;}

#superPad {margin-bottom: 50px; margin-top: 50px;}

#simpleSearch {text-align: center; margin-top: 10px; margin-bottom: 10 px;}
div.AdvancedSearch{margin-top: 10px; margin-bottom: 10 px;}

/* Result Set Controls */

#ListOfResults {color: black;}

div.stridePosition{margin-top: 2px; margin-bottom: 2px; background-color: wheat;}
div.message {margin-top: 2px; margin-bottom: 2px; background-color: wheat;}
div.error{margin-top:2px; margin-bottom: 2px; background-color:tomato; padding-left:10px; padding-right:10px;}
div.searchOneLine{margin-top: 2px; margin-bottom: 2px; background-color: wheat; text-align:right;}
tr.rbgWhite {BACKGROUND-COLOR: #FFFFFF;}
/* *tr.rbgGrey  {BACKGROUND-COLOR: #F0F0F0;} */
tr.rbgGrey {BACKGROUND-COLOR: #EEEEE0; }
tr.rbgBeige {BACKGROUND-COLOR: #FDFFCC; }
.searchString {BACKGROUND-COLOR: white; margin-left:2px; margin-right:2px;}

/* end of result set controls */


/* end of Left Pane */


div.searchMethod {margin-top: 7px; margin-bottom: 8px;}

table.SearchBox {margin-left:auto; margin-right:auto; padding-bottom: 10px; color: black; background-color: #FDFFCC; padding-left: 20px; padding-right: 20px; clear: both;} 

table.related{}
.searchHdr {font-size: 120%; font-weight: bold;}

a.button {border: 1px solid black; background-color: #F4F4F4; padding-bottom: 3px;
    padding-top:3px; padding-left: 4px; padding-right: 4px; text-decoration:none; color:black;}
button.button {border: 2px solid black; background-color: #F4FFFF; padding-bottom: 1px;
    padding-top:1px; padding-left: 4px; padding-right: 4px; text-decoration:none; color:black;}

#Footer  { color: #999999; background-color: #f4f4f4; margin-bottom: 25px; padding-top: 3px; padding-right: 10px; padding-left: 10px; clear: both; border-top: 2px solid wheat; margin-top:10px;}
Footer.td {border-style:solid; border-color:black; border-width:1px;}



