html, body {
    font:normal 12px tahoma, arial, verdana, sans-serif;
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
}

.x-panel-body {
    border: none;
}

.x-panel-body p {
    margin:5px;
}
.x-column-layout-ct .x-panel {
    margin-bottom:5px;
}
.x-column-layout-ct .x-panel-dd-spacer {
    margin-bottom:5px;
}
/* Make header of collapsed panel similar to uncollapsed: */
.x-panel-header-collapsed {
    float: left;
    color: #15428B;
    font-weight: bold;
    font-size: 11px;
    padding: 3px 0px 0px 3px;
}
.x-action-col-cell .x-grid3-cell-inner {
    padding: 1px;
}

/* For GridDragDropRowOrder: */
.x-grid-row-insert-above {
    border-top: 1px solid black;
}
.x-grid-row-insert-below {
    border-bottom: 1px solid black;
}

/* Viewdata specific: */
.vd-fieldset-with-help {
    padding: 0px 10px 10px 10px;
}
.vd-help-icon-large {
    background-image: url(./icons/help16.png) !important;
    background-position: center center;
    background-repeat: no-repeat;
}
.vd-help-icon {
    background-image: url(./icons/help10.png) !important;
    background-position: center center;
    background-repeat: no-repeat;
    height: 16px !important;    /* 10px would be better but doesn't work with IE8 */
    width: 10px !important;
}
.vd-help-panel {
    border-width: 1px;
    border-style: solid;
    border-color: #B5B8C8;
    margin: 3px 0px;
    padding: 0px 1px;
}
.vd-help-panel-no-margin {
    border-width: 1px;
    border-style: solid;
    border-color: #B5B8C8;
    margin: 0px 0px;
    padding: 0px 0px;
}
.vd-help-panel-body {
    background-color: #ECECEC;
}
.vd-metadata-link {
    background-image: url(./icons/fam/information.png) !important;
    background-position: center center;
    background-repeat: no-repeat;
    height: 18px;
    width: 16px;
    margin-left: 2px;
    vertical-align: top;
}
.vd-remove-icon {
    background-image: url(./icons/fam/cross.gif) !important;
    background-position: center center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.vd-tree-remove-icon {
    background-image: url(./icons/fam/cross.gif) !important;
    background-position: center center;
    background-repeat: no-repeat;
    height: 18px;
    width: 16px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.vd-step-backwards-icon {
    background-image: url(./icons/fam/control_play_backwards.png) !important;
}
.vd-step-forwards-icon {
    background-image: url(./icons/fam/control_play.png) !important;
}
.vd-start-icon {
    background-image: url(./icons/fam/control_start.png) !important;
}
.vd-end-icon {
    background-image: url(./icons/fam/control_end.png) !important;
}
.vd-feature-info {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: medium;
}
.vd-new-endpoint-icon {
    background-image: url(./icons/folder-add.png) !important;
}

/* OpenLayers */
.olControlLoadingPanel {
    background-image:url(./images/loading7.gif);
    background-position:center;
    background-repeat:no-repeat;
}

/* Override toolbar position and layout.
.olControlNavToolbar { 
    top: 4px !important;
    left: 63px !important;
    position: relative;
}
*/

/* The relative positions for the tools form a horizontally orientated toolbar - default is vertical. */
.olControlNavToolbar .olControlZoomBoxItemActive { 
    top: 0px;
    left: 0px;
    position: relative;
}
.olControlNavToolbar .olControlZoomBoxItemInactive { 
    top: 0px;
    left: 0px;
    position: relative;
}
.olControlNavToolbar .olControlNavigationItemActive { 
    top: -28px;
    left: 28px;
    position: relative;
}
.olControlNavToolbar .olControlNavigationItemInactive { 
    top: -28px;
    left: 28px;
    position: relative;
}
.olControlNavToolbar .olControlWMSGetFeatureInfoItemActive { 
    background-image: url("./icons/feature-info-on.png");
    top: -56px;
    left: 56px;
    position: relative;
}
.olControlNavToolbar .olControlWMSGetFeatureInfoItemInactive { 
    background-image: url("./icons/feature-info-off.png");
    top: -56px;
    left: 56px;
    position: relative;
}

/* Banner image container */
div.banner-image
{
    background: #87A7AF;
}