<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<py:choose>
    <py:when test="c.extents_values['site'] == 'single'">
        <p><b>Site Location - </b>${c.extents_values['lat']}&deg;N, ${c.extents_values['lon']}&deg;E
            <py:if test="'average_over_cell' in c.extents_values">
                <br/><small>Using Cell average</small>
            </py:if>
        </p>
    </py:when>
    <py:otherwise>
        <p><b>Spatial Extents - </b>${c.extents_values['lat_s']}&deg;N to ${c.extents_values['lat_n']}&deg;N;
            ${c.extents_values['lon_w']}&deg;E to ${c.extents_values['lon_e']}&deg;E</p>
    </py:otherwise>
</py:choose>
<p><b>Temporal Extents - </b>${c.extents_values['start_date']} to ${c.extents_values['end_date']}</p>

</html>