<div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">

<py:choose>
    <py:when test="c.extents_values['site'] == 'single'">
        <py:choose>
            <py:when test="'land_cover_ice' in c.land_cover_values">
                <p><b>Fractional Land Cover - </b>Cell is 100% ice</p>
            </py:when>
            <py:otherwise>
                <p><b>Fractional Land Cover:</b></p>
                <ul>
                    <py:for each="lc_val in c.land_cover_types">
                        <li py:if="lc_val.id != c.ice_index">
                            ${lc_val.name}: ${c.land_cover_values['land_cover_value_' + str(lc_val.id)]} %
                        </li>
                    </py:for>
                </ul>
            </py:otherwise>
        </py:choose>
    </py:when>
    <py:otherwise>
        <py:choose>
            <py:when test="len(c.land_cover_actions) == 0">
                <p><b>Land Cover Edits - </b>No land cover edits made</p>
            </py:when>
            <py:otherwise>
                <p><b>Land Cover Edits:</b></p>
                <ul>
                    <li py:for="action in c.land_cover_actions">
                        Change ${action.region.name} (${action.region.category.name}) to ${action.value.name}
                    </li>
                </ul>
            </py:otherwise>
        </py:choose>
    </py:otherwise>
</py:choose>

</div>