<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="layout.html" />
<head>
    <title>Analysis List</title>

    <script type="text/javascript" language="JavaScript" src="/js/ecomaps_sorter.js"></script>
</head>
<body>
    <h1>My Ecomaps</h1>
    <div class="tabbable">
        <ul class="nav nav-pills" id="analysis-tabs">
            <li><a href="#my-analyses" data-toggle="pill">My Analyses</a></li>
            <li><a href="#public-analyses" data-toggle="pill">Public Analyses</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="my-analyses">

                <py:choose>
                    <py:when test="not c.private_analyses">
                        <p>
                            You don't have any analyses yet.
                            You can create a new one <a href="${h.url(controller='analysis', action='create')}">here</a><span py:if="c.public_analyses">, or try looking at the public repository</span>
                        </p>
                    </py:when>
                    <py:otherwise>
                        <div id="filter_private">
                            <label>Filter analyses by model variable:</label>
                            <select name="model_variable" id="private_filter_value">
                                <option py:for="model_variable in c.all_model_variables">
                                    ${model_variable}
                                </option>
                            </select>
                            <button type="submit" id="filter_private_button" data-toggle="tooltip" title="Filter private analyses"><i class="icon-filter"></i></button>
                            <button type="submit" id="undo_filter_private_button" data-toggle="tooltip" title="Undo"><i class="icon-refresh"></i></button>
                        </div>
                        <div id="private-container"></div>
                    </py:otherwise>
                </py:choose>
            </div>
            <div class="tab-pane active" id="public-analyses">

                <py:choose>
                    <py:when test="not c.public_analyses">
                        <p>
                        There aren't any public analyses yet, why not <a href="${h.url(controller='analysis', action='create')}">create a new one?</a>
                        </p>
                    </py:when>
                    <py:otherwise>
                        <div id="filter_public">
                            <label>Filter analyses by model variable:</label>
                            <select name="model_variable" id="public_filter_value">
                                <option py:for="model_variable in c.all_model_variables">
                                    ${model_variable}
                                </option>
                            </select>
                            <button type="submit" id="filter_public_button" data-toggle="tooltip" title="Filter public analyses"><i class="icon-filter"></i></button>
                            <button type="submit" id="undo_filter_public_button" data-toggle="tooltip" title="Undo"><i class="icon-refresh"></i></button>
                        </div>
                                <div id="public-container"> </div>
                    </py:otherwise>
                </py:choose>
            </div>
        </div>


    </div>
</body>
<script type="text/javascript" language="javascript">

    $(function () {
        $("ul#analysis-tabs a:first").tab("show");
    })

</script>
</html>