<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
<xi:include href="layout.html" />
<head>
    <title>Welcome</title>
    <style type="text/css">
        div.hero-unit {
            background: url('/layout/images/3750.jpg') 15% top;
            color: #FFF;
        }
    </style>
</head>

<body>
    <div class="hero-unit">
         <h1>Welcome, <span py:if="c.name">${c.name}</span></h1>
        <p>
            Use the links below to get started
        </p>
    </div>

    <div class="row">
        <div class="span4">
            <h2><a href="${h.url(controller='map')}">Explore</a></h2>
            <p>
                Look at map data in the web viewer
            </p>
        </div>
        <div class="span4">
            <h2><a href="${h.url(controller='analysis', action='create')}">New Analysis</a></h2>
            <p>
                Run a model on map datasets
            </p>
        </div>
        <div class="span4">
            <h2><a href="${h.url(controller='analysis')}">My Ecomaps</a></h2>
            <p>
                Review existing analysis results, publish results to the public repository
            </p>
        </div>
    </div>

    <!--<div class="row">-->
        <!--<div class="span4">-->
            <!--<a href="${h.url(controller='viewdata')}"><img class="img-rounded" src="/layout/images/Explore.PNG" /></a>-->
        <!--</div>-->
        <!--<div class="span4">-->
            <!--<a href="${h.url(controller='analysis', action='create')}"><img class="img-rounded" src="/layout/images/NewAnalysis.PNG" /></a>-->
        <!--</div>-->
        <!--<div class="span4">-->
            <!--<a href="${h.url(controller='analysis')}"><img class="img-rounded" src="/layout/images/MyEcomaps.PNG" /></a>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row arrow">
        <div class="span4">
            <a href="${h.url(controller='map')}"><img class="img-rounded" src="/layout/images/workflow-1.png" /></a>
        </div>
        <div class="span4">
            <a href="${h.url(controller='analysis', action='create')}"><img class="img-rounded" src="/layout/images/workflow-2.png" /></a>
        </div>
        <div class="span4">
            <a href="${h.url(controller='analysis')}"><img class="img-rounded" src="/layout/images/workflow-3.png" /></a>
        </div>
    </div>

</body>
</html>