<!DOCTYPE HTML>
<html xmlns:py="http://genshi.edgewall.org/"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
    <title>ECOMAPS // Welcome</title>

    <link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />

    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/layout/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/layout/login.css"/>
</head>
<body>
    <div id="logo"></div>
    <div id="banner"></div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Welcome to EcoMaps</h1>
            </div>
        </div>
        <div class="row">
            <div class="span12">

            </div>
            <div class="row" id="login-form">
                <p class="lead">Please log in</p>

                <py:if test="message">
                <div class="alert alert-error">${message}</div>
                </py:if>

                <form class="form-horizontal" action="/account/dologin?came_from=${came_from}" method="POST">
                    <div class="control-group">
                        <label class="control-label" for="login">User Name:</label>
                        <div class="controls">
                            ${h.html_tags.text('login', placeholder='User Name')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Password:</label>
                        <div class="controls">
                            ${h.html_tags.password('password', placeholder='Password')}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" language="JavaScript">

        $(function () {

            // Error span swap
            $("span.help-inline").each(function(index, el){

                // Find the parent control group
                // Swap the message with the input
                $(el).insertAfter($(el).next());

                $(el).closest("div.control-group").addClass("error");
            });
        })


    </script>
</body>
</html>