<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>Model Runs</title>
    <link rel="stylesheet" type="text/css" href="${h.url('/layout/joj_catalogue.css')}"/>
</head>

<body id="catalogue">
<h1>Model Runs</h1>
<div>
    <ul class="nav nav-tabs">
        <li py:if="c.showing == 'mine'" class="active">
            <a href="${h.url(controller='model_run', action='index')}">Mine</a>
        </li>
        <li py:if="c.showing != 'mine'">
            <a href="${h.url(controller='model_run', action='index')}">Mine</a>
        </li>
        <li py:if="c.showing == 'published'" class="active">
            <a href="${h.url(controller='model_run', action='published')}">Published</a>
        </li>
        <li py:if="c.showing != 'published'">
            <a href="${h.url(controller='model_run', action='published')}">Published</a>
        </li>
    </ul>
</div>

<div py:if="c.showing == 'mine'" class="well">
    <div class="span2" >Storage quota <i class="fa fa-info-circle" data-toggle="tooltip" title="Storage Quota" data-trigger="click | hover"
                                         data-content="You have a limited storage allocation and each model run will use some of that storage.
                                         Once your storage allocation in full you will not be able to start any new runs.
                                         To reduce your storage allocation delete runs using the delete button or publish them so they can be view by others."></i></div>
    <div class="progress span8" style="margin-bottom: 0px;">
        <div class="bar bar-${c.bar_class}"
             style="width: ${min(100, max(c.storage_percent_used, 8))}%;"
             title="Total storage ${int(round(c.storage_percent_used, 0))}%">
                ${round(c.storage_total_used_in_gb,1)}GB
        </div>
    </div>
    <div class="span1">${c.user.storage_quota_in_gb}GB</div>
</div>
<div class="row" py:for="model_run in c.model_runs">
    <!--THE MAP ICON-->
    <div class="span1 ico-span">
        <!--If the run status does not allow visualisation we just display an inert icon -->
        <i py:if="not model_run.status.allow_visualise()" class="fa fa-globe fa-3x ico-disabled"></i>
        <!--If the run status allows us to visualise the run on the map then we display the map icon with color / hover-->
        <a href="${h.url(controller='map', action='view', id=model_run.id)}" py:if="model_run.status.allow_visualise()"
           onmouseover="$(this).parent().find('div').css('visibility','visible');$(this).find('i').addClass('green')"
           onmouseout="$(this).parent().find('div').css('visibility','hidden');$(this).find('i').removeClass('green')">
            <i class="fa fa-globe fa-3x ico"></i>
        </a>
        <div class="ico-text green">Visualise</div>
    </div>
    <!--THE TITLE AND DESCRIPTION-->
    <div class="span6">
        <h4>
            <a href="${h.url(controller='model_run', action='summary', id=model_run.id)}">${model_run.name}</a>
            <span class="date">
                - ${h.display_date(model_run.date_created, "%d %b %Y")}
            </span>
        </h4>
        <p class="description">${model_run.description}</p>
    </div>
    <!--THE ACTION ICONS-->
    <div class="span2 ico-span">
        <div class="row">
            <!--The Publish Icon-->
            <div class="span1">
                <br/>
                <!--If the run status does not allow publishing we just display an inert icon -->
                <i py:if="not model_run.status.allow_publish() and not model_run.status.is_published()" class="fa fa-share-square-o fa-2x ico-disabled"></i>
                <!--If the run status is published we display an inert purple icon -->
                <i py:if="model_run.status.is_published()" class="fa fa-share-square-o fa-2x purple"></i>
                <!--If the run status allows us to publish the run on the map then we display the publish icon with color / hover-->
                <form py:if="model_run.status.allow_publish()"
                      action="${h.url(controller='model_run', action='publish', id=model_run.id)}"
                      method="post"
                      data-confirm="You can not undo publishing a run. Are you sure you want to publish it?"
                      style="margin:0">
                    <input type="hidden" name="came_from" id="came_from" value="catalogue"/>
                    <a onclick="$(this).parent().submit()"
                       onmouseover="$(this).parent().find('div').css('visibility','visible');$(this).find('i').addClass('purple')"
                       onmouseout="$(this).parent().find('div').css('visibility','hidden');$(this).find('i').removeClass('purple')">
                        <i class="fa fa-share-square-o fa-2x ico" ></i>
                    </a>
                    <div class="ico-text purple">Publish</div>
                </form>
            </div>
            <!--The Copy Icon

            When reinstated: take 1 from the span for status and increase containing div span by 1

            <div class="span1">
                <br/>
                <a
                        onmouseover="$(this).parent().find('div').css('visibility','visible');$(this).find('i').addClass('yellow')"
                            onmouseout="$(this).parent().find('div').css('visibility','hidden');$(this).find('i').removeClass('yellow')">
                    <i class="fa fa-copy fa-2x ico"></i>
                </a>
                <div class="ico-text yellow">Duplicate</div>
            </div>-->
            <!--The Delete Icon -->
            <div class="span1">
                <br/>
                <i py:if="not model_run.status.allow_delete(c.user.is_admin())" class="fa fa-times-circle fa-2x ico-disabled"></i>
                <form py:if="model_run.status.allow_delete(c.user.is_admin())"
                      action="${h.url(controller='model_run', action='delete', id=model_run.id)}"
                      method="post"
                      data-confirm="You can not undo deleting a model run. Are you sure you want to delete it?"
                      style="margin:0">

                    <a onclick="$(this).parent().submit()"
                       onmouseover="$(this).parent().find('div').css('visibility','visible');$(this).find('i').addClass('red')"
                       onmouseout="$(this).parent().find('div').css('visibility','hidden');$(this).find('i').removeClass('red')">
                        <i class="fa fa-times-circle fa-2x ico"></i>
                    </a>
                    <div class="ico-text red">Delete</div>
                </form>
            </div>
        </div>
    </div>
    <!--THE STATUS AND DATE-->
    <div class="span3 status-span">
        <h3 class="status" style="color:${model_run.status.get_display_color()}">${model_run.status.name}</h3>
        <span class="date" py:if="not model_run.status.is_published()">
            ${h.display_date(model_run.last_status_change, "%d %b %Y at %X")}
        </span>
        <span class="date" py:if="model_run.status.is_published()">
            by ${model_run.user.name}
        </span>
    </div>
</div>

</body>
</html>