<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>Create Model Run</title>
    <link rel="stylesheet" type="text/css" href="../layout/model_run_create.css"/>
    <script src="../js/model_run_create.js"></script>
</head>
<body id="create">
<h1>Create Model Run</h1>
<p>Choose some basic starting information for your model run.</p>

<form class="form-horizontal" method="POST" action="${url(controller='model_run', action='create')}">

    <div class="control-group">
        <label for="name" class="control-label">Name</label>
        <div class="controls">
            ${h.html_tags.text('name', placeholder='Enter a unique name')}
        </div>
    </div>

    <div class="control-group">
        <label for="description" class="control-label">
            Description
            <p class="label-explain">
                Describe the main purpose of the run and major input parameters.
            </p>
        </label>
        <div class="controls">
            ${h.html_tags.textarea('description', rows=10, placeholder='Enter a description')}
        </div>
    </div>

    <div class="control-group">

        <label for="scientific_configuration" class="control-label">
            Scientific Configuration
            <p class="label-explain">
                Choose a pre-configured set of options for your model run.
            </p>
        </label>
        <div class="controls">
            <py:for each="configuration in c.scientific_configurations">
                <div class="sci-config">
                    <div configid="${configuration['id']}" class="select-div">
                        ${h.html_tags.radio('science_configuration', configuration['id'], True, style='display:none')}
                        <i configid="${configuration['id']}" class="fa fa-check-circle-o fa-2x select-icon"></i>
                    </div>
                    <div configid="${configuration['id']}" class="description-div">
                        <p>
                            <strong>${configuration['name']} - </strong>${configuration['description']}
                        </p>
                    </div>
                </div>
            </py:for>
        </div>
    </div>


    <div class="controls">
        <input type="submit" class="btn btn-primary btn-large pull-right control-group" name="submit" value="Next" />
    </div>
</form>

<div class="modal fade hide" id="dataset-preview"></div>

</body>
</html>