<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>Create Model Run | Select Driving Data</title>
    <link rel="stylesheet" type="text/css" href="../layout/joj.css"/>
</head>
<body id="create">
    <h1>Select Driving Data</h1>

    <div class="row" style="display:none">
        <div class="span12">
            <div class="alert alert-block alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Be aware!</h4>
                <p>
                    This is some health warning text
                </p>
            </div>
        </div>
    </div>

    <form class="form-horizontal" method="POST" action="${url(controller='model_run', action='driving_data')}">

        <div class="control-group" title="Model runs need driving data to run.">

            <label for="driving_dataset" class="control-label">Driving Datasets</label>
            <div class="controls">
                <py:for each="driving_dataset in c.driving_datasets">
                    <label class="radio">
                        ${h.html_tags.radio('driving_dataset', driving_dataset.id, True, class_='radio controls')}
                        <strong>${driving_dataset.name}</strong> ${driving_dataset.description}
                    </label>
                </py:for>
            </div>
        </div>


        <div class="controls">
            <input type="submit" class="btn btn-primary btn-large pull-right control-group" name="submit" value="Next" />
            <input type="submit" class="btn btn-primary btn-large pull-left control-group" name="submit" value="Previous" />
        </div>
    </form>

    <div class="modal fade hide" id="dataset-preview"></div>

</body>
</html>