<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>Create Model Run</title>
    <link rel="stylesheet" type="text/css" href="../layout/joj.css"/>
</head>
<body id="create">
<h1>Specify Model Run Extents</h1>

<div class="row" style="display:none">
    <div class="span12">
        <div class="alert alert-block alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Be aware!</h4>
            <p>
                This is some health warning text
            </p>
        </div>
    </div>
</div>

<div>
    <h2>Spatial Extent</h2>
    <p>Specify the spatial area you wish to run your model over. The selected area must fall completely within the
        boundaries of your selected driving data.</p>
</div>
<form class="form-horizontal" method="POST" action="${url(controller='model_run', action='extents')}">
    <div class="control-group" title="Model runs need a specified spatial extent">

        <div class="row">
            <div class="span3">
                <h5>Boundary</h5>
            </div>
            <div class="span2">
                <h5>Driving Data</h5>
            </div>
            <div class="span7">
                <h5>Model Run</h5>
            </div>
            <!--<div class="span7"></div>-->
        </div>

        <div class="row">
            <div class="span3">
                <p>Northern Bounding Latitude<br/> (deg N)</p>
            </div>
            <div class="span2">${c.dataset.boundary_lat_north}</div>
            <div class="span7">
                <div class="controls" style="margin-left:0px">
                    ${h.html_tags.text('lat_n', style='width:60px')}<br/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                <p>Southern Bounding Latitude<br/> (deg N)</p>
            </div>
            <div class="span2">${c.dataset.boundary_lat_south}</div>
            <div class="span7">
                <div class="controls" style="margin-left:0px">
                    ${h.html_tags.text('lat_s', style='width:60px')}<br/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                <p>Western Bounding Longitude<br/> (deg E)</p>
            </div>
            <div class="span2">${c.dataset.boundary_lon_west}</div>
            <div class="span7">
                <div class="controls" style="margin-left:0px">
                    ${h.html_tags.text('lon_w', style='width:60px')}<br/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                <p>Eastern Bounding Longitude<br/> (deg E)</p>
            </div>
            <div class="span2">${c.dataset.boundary_lon_east}</div>
            <div class="span7">
                <div class="controls" style="margin-left:0px">
                    ${h.html_tags.text('lon_e', style='width:60px')}<br/>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2>Temporal Extent</h2>
        <p>Specify the time line you wish to run your model over. The selected dates must fall completely within the
            boundaries of your selected driving data.</p>
    </div>
    <div class="control-group" title="Model runs need a specified temporal extent">
        <div class="row">
            <div class="span2">
                <h5></h5>
            </div>
            <div class="span2">
                <h5>Driving Data</h5>
            </div>
            <div class="span8">
                <h5>Model Run</h5>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <p>Start date</p>
            </div>
            <div class="span2">${c.dataset.time_start.date()}</div>
            <div class="span8">
                <div class="controls" style="margin-left:0px">
                    ${h.html_tags.text('start_date', style='width:100px', placeholder='YYYY-MM-DD')}
                    <br/><br/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <p>End date</p>
            </div>
            <div class="span2">${c.dataset.time_end.date()}</div>
            <div class="span8">
                <div class="controls" style="margin-left:0px">
                    ${h.html_tags.text('end_date', style='width:100px', placeholder='YYYY-MM-DD')}
                    <br/>
                </div>
            </div>
        </div>


    </div>


    <div class="controls">
        <input type="submit" class="btn btn-primary btn-large pull-right control-group" name="submit" value="Next" />
        <input type="submit" class="btn btn-primary btn-large pull-left control-group" name="previous" value="Previous" />
    </div>
</form>

<div class="modal fade hide" id="dataset-preview"></div>

</body>
</html>