<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>Create Model Run | Specify Model Run Extents</title>
    <link rel="stylesheet" type="text/css" href="../layout/joj.css"/>
    <link rel="stylesheet" type="text/css" href="../layout/model_run_extents.css"/>
    <script src="../js/model_run_extents.js"></script>
</head>
<body id="create">
<h1>Specify Model Run Extents</h1>
<p>Choose the area and time period you'd like to run JULES over. Your chosen driving data dictates the maximum area and
    time period you can use.
</p>

<form class="form-horizontal" method="POST" action="${url(controller='model_run', action='extents')}">
<div class="control-group">
    <h3>Spatial Extent</h3>
    <label for="scientific_configuration" class="control-label">
        Type of extent
    </label>
    <div class="controls">
        <div class="site-option">
            <div site="multi" class="select-div">
                ${h.html_tags.radio('site', 'multi', True, style='display:none')}
                <i site="multi" class="fa fa-check-circle-o fa-2x select-icon"></i>
            </div>
            <div site="multi" class="description-div">
                <p>
                    <strong>Continuous Region - </strong>JULES will model across a large spatial area.
                </p>
            </div>
        </div>
        <div class="site-option">
            <div site="single" class="select-div">
                ${h.html_tags.radio('site', 'single', True, style='display:none')}
                <i site="single" class="fa fa-check-circle-o fa-2x select-icon"></i>
            </div>
            <div site="single" class="description-div">
                <p>
                    <strong>Single Location - </strong>JULES will only model at one specific location
                </p>
            </div>
        </div>

    </div>
</div>

<div id="single-cell">
    <div class="control-group">
        <label for="lat" class="control-label">
            Site Location
            <p class="label-explain">
                Identify the location you wish to run JULES for. The selected location must fall within the
                boundaries of your chosen driving data.
            </p>
        </label>
        <div class="controls">
            <fieldset class="fieldset">
                <div class="controls-row">
                    <div class="span11">
                        <div class="accordion" id="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne">
                                        I want to enter this in British National Grid coordinates
                                    </a>
                                </div>
                                <div id="collapseOne" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p>Enter site location as all-numeric eastings / northings
                                            <br/><small>e.g. 451246 / 206416 (Oxford)</small></p>
                                        ${h.html_tags.text('bng_e', style='width:60px', placeholder='Eastings')}
                                        &nbsp;/&nbsp;
                                        ${h.html_tags.text('bng_n', style='width:60px', placeholder='Northings')}
                                        <a class="btn btn-info pull-right" href="#!" id="convert-bng">Convert</a>
                                        <div id="bng-error" class="alert alert-danger">
                                            Couldn't convert these coordinates
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="controls-row">
                    <div class="span2">
                        <h5>Boundary</h5>
                    </div>
                    <div class="span2">
                        <h5>Driving Data Range</h5>
                    </div>
                    <div class="span7">
                        <h5>This Model Run</h5>
                    </div>
                </div>
                <div class="controls-row">
                    <div class="span2">
                        <p>Latitude <small>(&deg;N)</small></p>
                    </div>
                    <div class="span2">${c.boundary_lat_s} <small>to</small> ${c.boundary_lat_n}</div>
                    <div class="span7">
                        <div class="" style="margin-left:0px">
                            ${h.html_tags.text('lat', style='width:60px')}
                        </div>
                    </div>
                </div>
                <br/>
                <div class="controls-row">
                    <div class="span2">
                        <p>Longitude <small>(&deg;E)</small></p>
                    </div>
                    <div class="span2">${c.boundary_lon_w} <small>to</small> ${c.boundary_lon_e}</div>
                    <div class="span7">
                        <div class="" style="margin-left:0px">
                            ${h.html_tags.text('lon', style='width:60px')}
                        </div>
                    </div>
                </div>
                <br/>
                <div class="span11">
                    <div class="alert alert-info" style="display:inline-block"><strong>Note: </strong>Majic will automatically adjust
                        this site location to align with the JULES model grid.
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="control-group">
        <label for="average_over_cell" class="control-label">
            Average over cell
            <p class="label-explain">
                Use average driving data over the whole cell in which your chosen site is located, instead
                of just one point.
            </p>
        </label>
        <div class="controls">
            <i id="check_av" class="fa fa-check-square-o fa-2x green checkbox"></i>
            ${h.html_tags.checkbox('average_over_cell', style='display:none')}
        </div>
    </div>

</div>

<div id="multi-cell" class="control-group">
    <label class="control-label">
        Spatial Extent
        <p class="label-explain">The spatial area you wish to run your model over. This must fall completely within the
            boundaries of your chosen driving data.</p>
    </label>
    <div class="controls">
        <fieldset class="fieldset">
            <div class="controls-row">
                <div class="span2">
                    <h5>Boundary</h5>
                </div>
                <div class="span2">
                    <h5>Driving Data Value</h5>
                </div>
                <div class="span7">
                    <h5>This Model Run</h5>
                </div>
            </div>
            <div class="controls-row">
                <div class="span2">
                    <p>Northern Bounding Latitude <small>(&deg;N)</small></p>
                </div>
                <div class="span2">${c.boundary_lat_n}</div>
                <div class="span7">
                    <div class="" style="margin-left:0px">
                        ${h.html_tags.text('lat_n', style='width:60px')}<br/>
                    </div>
                </div>
            </div>
            <div class="controls-row">
                <div class="span2">
                    <p>Southern Bounding Latitude <small>(&deg;N)</small></p>
                </div>
                <div class="span2">${c.boundary_lat_s}</div>
                <div class="span7">
                    <div class="" style="margin-left:0px">
                        ${h.html_tags.text('lat_s', style='width:60px')}<br/>
                    </div>
                </div>
            </div>
            <div class="controls-row">
                <div class="span2">
                    <p>Western Bounding Longitude <small>(&deg;E)</small></p>
                </div>
                <div class="span2">${c.boundary_lon_w}</div>
                <div class="span7">
                    ${h.html_tags.text('lon_w', style='width:60px')}<br/>
                </div>
            </div>
            <div class="controls-row">
                <div class="span2">
                    <p>Eastern Bounding Longitude <small>(&deg;E)</small></p>
                </div>
                <div class="span2">${c.boundary_lon_e}</div>
                <div class="span7">
                    ${h.html_tags.text('lon_e', style='width:60px')}<br/>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div>
    <h3>Temporal Extent</h3>
</div>

<div class="control-group">
    <label class="control-label">
        Timeline
        <p class="label-explain">
            The time line you wish to run your model over. This must fall completely within the
            boundaries of your chosen driving data.
        </p>
    </label>
    <div class="controls">
        <fieldset class="fieldset">
            <div class="controls-row">
                <div class="span2">
                    <h5>Time</h5>
                </div>
                <div class="span2">
                    <h5>Driving Data Value</h5>
                </div>
                <div class="span7">
                    <h5>This Model Run</h5>
                </div>
            </div>
            <div class="controls-row">
                <div class="span2">
                    <p>Start Date</p>
                </div>
                <div class="span2">${c.start_date}</div>
                <div class="span7">
                    <div class="" style="margin-left:0px">
                        ${h.html_tags.text('start_date', style='width:100px', placeholder='YYYY-MM-DD')}
                    </div>
                </div>
            </div>
            <br/>
            <div class="controls-row">
                <div class="span2">
                    <p>End Date</p>
                </div>
                <div class="span2">${c.end_date}</div>
                <div class="span7">
                    <div class="" style="margin-left:0px">
                        ${h.html_tags.text('end_date', style='width:100px', placeholder='YYYY-MM-DD')}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="controls">
    <input type="submit" class="btn btn-primary btn-large pull-right control-group" name="submit" value="Next" />
    <input type="submit" class="btn btn-primary btn-large pull-left control-group" name="previous" value="Previous" />
</div>
</form>

<div class="modal fade hide" id="dataset-preview"></div>

</body>
</html>