<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>Create Model Run: Submit</title>
    <link rel="stylesheet" type="text/css" href="../layout/joj.css"/>
</head>
<body id="create">
    <h1>Submit Model Run</h1>

    <h3>Basic Information</h3>
    <p><b>Name: </b>${c.model_run_name}</p>
    <p><b>Description: </b>${c.model_run_desc}</p>
    <p><b>Science Configuration: </b>${c.science_config_name}</p>

    <h3>Driving Data and Extents</h3>
    <p><b>Driving Data: </b>${c.driving_data_name}</p>
    <p><b>Latitudinal extent (N, S): </b>${c.lat_n}, ${c.lat_s} (deg N)</p>
    <p><b>Longitudinal extent (W, E): </b>${c.lon_w}, ${c.lon_e} (deg E)</p>
    <p><b>Start Date: </b>${c.run_start}</p>
    <p><b>End Date: </b>${c.run_end}</p>


    <h3>Output Variables</h3>
    <p><b>Hourly: </b>${c.hourly}</p>
    <p><b>Daily: </b>${c.daily}</p>
    <p><b>Monthly: </b>${c.monthly}</p>
    <p><b>Yearly: </b>${c.yearly}</p>

    <form class="form-horizontal" method="POST" action="${url(controller='model_run', action='submit')}">
        <div class="controls">
            <input type="submit" class="btn btn-primary btn-large pull-right control-group" name="submit" value="Submit" />
            <input type="submit" class="btn btn-primary btn-large pull-left control-group" name="submit" value="Previous" />
        </div>
    </form>

    <div class="modal fade hide" id="dataset-preview"></div>

</body>
</html>