<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="../layout.html" />
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Model Runs</title>
    <link rel="stylesheet" type="text/css" href="${h.url('/layout/joj_catalogue.css')}"/>
    <link rel="stylesheet" type="text/css" href="${h.url('/layout/model_run_summary.css')}"/>

<style>
    .status-color {
        color:${c.model_run.status.get_display_color()}
    }
</style>
</head>
<body id="catalogue">
<div class="row">
<div class="span1 ico-span">
        <!--If the run status does not allow visualisation we just display an inert icon -->
        <i py:if="not c.model_run.status.allow_visualise()" class="fa fa-globe fa-4x ico-disabled"></i>
        <!--If the run status allows us to visualise the run on the map then we display the map icon with color / hover-->
        <a href="${h.url(controller='map', action='view', id=c.model_run.id)}" py:if="c.model_run.status.allow_visualise()"
           onmouseover="$(this).parent().find('div').css('visibility','visible');$(this).find('i').addClass('green')"
           onmouseout="$(this).parent().find('div').css('visibility','hidden');$(this).find('i').removeClass('green')">
            <i class="fa fa-globe fa-4x ico"></i>
        </a>
        <div class="ico-text green">Visualise</div>
    </div>
    <div class="span11">
        <h1>${c.model_run.name}</h1>
        <h5 class="description">Created by ${c.model_run.user.name} on ${h.display_date(c.model_run.date_created, "%d %b %Y at %X")}</h5>
    </div>
</div>
<hr class="status-banner-top"/>
<!--<div class="well">-->
<div class="row">
    <div class="span4 status-span" style="text-align: left">
        <h2 class="status status-color">${c.model_run.status.name}</h2>
        <span class="date" py:if="not c.model_run.status.is_viewable_by_any_majic_user()">
            ${h.display_date(c.model_run.last_status_change, "%d %b %Y at %X")}
        </span>
        <span class="date" py:if="c.model_run.status.is_viewable_by_any_majic_user()">
            by ${c.model_run.user.name}
        </span>
    </div>
    <div class="span5"></div>
    <div class="span3 ico-span">
        <div class="row">
            <!--The Publish Icon-->
            <div class="span1">
                <br/>
                <!--If the run status does not allow publishing we just display an inert icon -->
                <i py:if="not c.model_run.status.allow_publish() and not c.model_run.status.is_published() and not c.model_run.status.is_public()"
                   class="fa fa-share-square-o fa-2x ico-disabled  pad-for-missing-hover-text"></i>
                <!--If the run status is public we display an inert purple icon -->
                <i py:if="c.model_run.status.is_public()" class="fa fa-cloud-upload fa-2x purple"></i>
                <!--If the run status is published we display an inert purple icon -->
                <i py:if="c.model_run.status.is_published() and not c.is_users_model"
                   class="fa fa-share-square-o fa-2x purple"></i>

                <!--If the run status allows us to publish the run on the map then we display the publish icon with color / hover-->
                <form py:if="c.model_run.status.allow_publish()"
                        action="${h.url(controller='model_run', action='publish', id=c.model_run.id)}"
                        method="post"
                        data-confirm="You can not undo publishing a run. Are you sure you want to publish it?">
                    <input type="hidden" name="came_from" id="came_from" value="summary"/>
                    <a href="#" onclick="$(this).parent().submit()"
                       onmouseover="$(this).parent().find('div').css('visibility','visible');$(this).find('i').addClass('purple')"
                       onmouseout="$(this).parent().find('div').css('visibility','hidden');$(this).find('i').removeClass('purple')">
                        <i class="fa fa-share-square-o fa-2x ico" ></i>
                    </a>
                    <div class="ico-text purple">Publish</div>
                </form>

                <!--If the run status allows us to make it public we display the publish icon with color / hover-->
                <form py:if="c.model_run.status.allow_make_public() and c.is_users_model"
                      action="${h.url(controller='model_run', action='make_public', id=c.model_run.id)}"
                      method="post"
                      data-confirm="You can not undo making a model run public. It will be viewable by anyone on the internet and so please check you have the legal right to do this. Are you sure you want to publish it?"
                      style="margin:0">
                    <input type="hidden" name="came_from" id="came_from" value="catalogue"/>
                    <i class="fa fa-share-square-o fa-2x purple"></i>
                    <a onclick="$(this).parent().submit()"
                       onmouseover="$(this).parent().find('div').css('visibility','visible');$(this).find('i').addClass('purple')"
                       onmouseout="$(this).parent().find('div').css('visibility','hidden');$(this).find('i').removeClass('purple')">
                        <i class="fa  fa-cloud-upload fa-2x ico" ></i>
                    </a>
                    <div class="ico-text purple">Make Public</div>
                    <!--If the run status is published we display an inert purple icon -->
                </form>
            </div>
            <!-- The Duplicate Icon -->
            <div class="span1">
                <br/>
                <form action="${h.url(controller='model_run', action='duplicate', id=c.model_run.id)}"
                        method="post"
                        py:attrs="{'data-confirm':'If you duplicate this run you will replace the new model run you are creating. Are you sure you want to duplicate this run?'}
                                   if c.user_has_model_run_being_created else {}">
                    <input type="hidden" name="came_from" id="came_from_duplicate" value="summary"/>
                    <a href="#"
                       onclick="$(this).parent().submit()"
                       onmouseover="$(this).parent().find('div').css('visibility','visible');$(this).find('i').addClass('yellow')"
                       onmouseout="$(this).parent().find('div').css('visibility','hidden');$(this).find('i').removeClass('yellow')">
                        <i class="fa fa-copy fa-2x ico"></i>
                    </a>
                    <div class="ico-text yellow">Duplicate</div>
                </form>
            </div>
            <!-- The Delete Icon -->
            <div class="span1">
                <br/>
                <i py:if="not c.model_run.status.allow_delete(c.user.is_admin())" class="fa fa-times-circle fa-2x ico-disabled"></i>
                <form py:if="c.model_run.status.allow_delete(c.user.is_admin())"
                      action="${h.url(controller='model_run', action='delete', id=c.model_run.id)}"
                      method="post"
                      data-confirm="You can not undo deleting a model run. Are you sure you want to delete it?">

                    <a onclick="$(this).parent().submit()"
                       onmouseover="$(this).parent().find('div').css('visibility','visible');$(this).find('i').addClass('red')"
                       onmouseout="$(this).parent().find('div').css('visibility','hidden');$(this).find('i').removeClass('red')">
                        <i class="fa fa-times-circle fa-2x ico"></i>
                    </a>
                    <div class="ico-text red">Delete</div>
                </form>
            </div>
        </div>
    </div>
</div>
<div py:if="c.model_run.error_message" class="alert alert-danger">
    ${c.model_run.error_message}
</div>
<hr class="status-banner-bottom"/>


<h3><i class="fa fa-book status-color">&nbsp;</i>General Information</h3>
<div>
    <p><b>Description - </b>${c.model_run.description}</p>
    <xi:include href="../model_run/summary_fragments/run_info.html" />
</div>
<hr class="divide"/>

<h3><i class="fa fa-gears status-color">&nbsp;</i>Run Parameters</h3>
<div>
    <xi:include href="../model_run/summary_fragments/driving_data.html" />
    <xi:include href="../model_run/summary_fragments/extents.html" />
    <xi:include href="../model_run/summary_fragments/land_cover.html" />
    <xi:include href="../model_run/summary_fragments/outputs.html" />
</div>
<py:if test="c.model_run.status.allow_visualise()">
    <hr class="divide"/>
    <h3><i class="fa fa-download status-color">&nbsp;</i>Download Output</h3>
    <div>
        <xi:include href="../model_run/summary_fragments/download.html" />
    </div>
</py:if>
</body>
</html>