<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="layout.html" />
<head>
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" href="../layout/ecomaps.css"/>
</head>
<body>
    <h1>Edit user</h1>

    <form method="POST">
        <div class="control-group">
            <label for="user_name" class="control-label">
                Login Name: ${c.user_to_edit.username}
            </label>
        </div>
        <div class="control-group">
            <label for="first_name" class="control-label">First name:</label>
               <input id="first_name" name="first_name" type="text" value="${c.user_to_edit.first_name}" class="controls" />
        </div>
        <div class="control-group">
            <label for="last_name" class="control-label">Last name:</label>
               <input id="last_name" name="last_name" type="text" value="${c.user_to_edit.last_name}" class="controls" />
        </div>
        <div class="control-group">
            <label for="Email" class="control-label">Email:</label>
                <input type="text" name="email" class="controls" id="email" value="${c.user_to_edit.email}" />
        </div>
        <div class="control-group">
            <label for="is_admin" class="checkbox">
                <input type="checkbox" name="is_admin" class="checkbox" py:attrs="{ 'checked' : 'true' } if c.user_to_edit.access_level == 'Admin' else {}" />
                Admin user
            </label>
        </div>
            <input type="hidden" name="user_id" value="${c.user_to_edit.id}" />
            <!--<label for="Email" class="control-label" id="email">Email:</label>-->
               <!--${h.html_tags.text('email', class_='controls')}-->
            <!--<label for="is_admin" class="checkbox">-->
                <!--${h.html_tags.checkbox('is_admin', class_='checkbox')}-->
                <!--Admin user</label>-->


        <div class="controls">
            <input type="submit" class="btn btn-primary btn-large pull-right control-group" value="Update" />
        </div>
    </form>

<script type="text/javascript" language="JavaScript">
            $(function () {

            // Error span swap
            $("span.help-inline").each(function(index, el){

                // Find the parent control group
                // Swap the message with the input
                $(el).insertAfter($(el).next());
                $(el).closest("div.control-group").addClass("error");
            });
        })
</script>

</body>
</html>