<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
    <meta name="google-site-verification" content="aWAvpb8DQNjLYj9ADvdobJeLbl7ZE7sNr6uI6wHxiSo" />
    <title>Welcome to Majic</title>
    <link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/layout/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/layout/joj-external.css"/>
    <script src="/js/jquery.placeholder.js"></script>
</head>
<body>

<div id="logo"></div>
<!--<div id="banner"></div>-->

<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Welcome to Majic</h1>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <div class="small-overlay" style="padding:35px">
                <h2>Managing Access to Jules in the Cloud</h2>
                <p>Majic is a web application that allows users to run the JULES land-surface model within a high
                    performance computing environment over the web. You can create new model runs, easily customise some
                    of the main JULES parameters, and view and download results for new and existing model runs.</p>
                <div class="screenshots">
                    <img src="/layout/images/screenshot-graph.png" alt="Screenshot of Majic" class="screenshot screenshot-left"/>
                    <img src="/layout/images/screenshot-map.png" alt="Screenshot of Majic" class="screenshot"/>
                </div>

                <p>
                    <a href="${url(controller='home', action='about')}" class="btn btn-primary btn-large">
                        Learn more
                    </a>
                </p>
              </div>
        </div>
        <div class="span3">
            <div class="small-overlay">
                <p><strong>Existing User</strong></p>
                <div class="control-group">
                    <div class="controls">
                        <form action="/account/dologin" method="POST">
                            <p><small>CEH user? Use your login here</small></p>
                            <input name="login" type="text" placeholder="Username" class="mini-login"/>
                            <input name="password" type="password" placeholder="Password" class="mini-login"/>
                            <button type="submit" class="btn btn-primary">Log In</button>
                        </form>
                    </div>
                </div>
                <div>
                    <p>
                        <strong>New User</strong>
                    </p>
                    <p>
                        <small>Majic is freely available to any researcher for non-commercial use, as set out in the
                            <a href="${h.url(controller='request_account', action='license')}" target="_blank">
                                Majic Terms &amp; Conditions.
                            </a></small>
                    </p>
                    <a href="${url(controller='request_account', action='request')}" class="btn btn-primary">Request Majic Account</a>
                </div>

            </div>
        </div>
    </div>
    <xi:include href="about/cookie-warning.html"/>
</div>
</body>
</html>