<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip=""
      xmlns:xi="http://www.w3.org/2001/XInclude">

<py:match path="head" once="true">
    <head py:attrs="select('@*')">
        <title py:with="title = list(select('title/text()'))">
            Majic<py:if test="title"> | ${title}</py:if>
        </title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
        <link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="/layout/joj.css" rel="stylesheet" media="screen" />
        <script src="/js/jquery.js"></script>
        <script src="/js/jquery.placeholder.js"></script>
        <script type="text/javascript" src="/layout/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/ecomaps_general.js"></script>
        <!--Page-specific styles and script tags in here...-->
        ${select('style')}
        ${select('link')}
        ${select('script')}
    </head>
</py:match>

<py:match path="body" once="true">
    <body py:attrs="select('@*')">

        <div id="wrap">
            <xi:include href="nav_bar.html" />

            <div class="container">

                <py:with vars="success_messages = h.success_flash.pop_messages()">
                    <div  py:if="success_messages" id="flash_success" class="alert alert-success">
                        ${success_messages}
                    </div>
                </py:with>

                <py:with vars="error_messages = h.error_flash.pop_messages()">
                    <div  py:if="error_messages" id="flash_error" class="alert alert-danger">
                            ${error_messages}
                    </div>
                </py:with>
                ${select('*|text()')}
            </div>
            <div id="push"></div>
        </div>
        <div id="footer">
                <a class="pull-left" href="http://www.ceh.ac.uk" target="_blank">
                    <img src="/layout/images/ceh_transparent.gif" alt="CEH Logo" />
                </a>
                <a class="pull-right" href="http://www.tessella.co.uk" target="_blank">
                    <img src="/layout/images/tessella.png" alt="Tessella logo" />
                </a>
        </div>
    </body>
</py:match>
</html>