<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="layout.html" />
<head>
    <title>Users List</title>
</head>
<body>
    <h1>All Users</h1>

    <div>
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Access Level</th>
                <th></th>
            </thead>
            <tbody>
                <tr py:for="user in c.all_users">
                    <td>
                        ${user.name}
                    </td>
                    <td>
                        ${user.username}
                    </td>
                    <td>
                        ${user.email}
                    </td>
                    <td>
                        ${user.access_level}
                    </td>
                    <td>
                        <a href="${url(controller='user', action='edit', id=user.id) }" class="btn btn-mini"><i class="icon-edit"></i> Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <form action="${url(controller='user', action='create')}">
        <div class="controls">
            <input type="submit" class="btn btn-primary pull-right control-group" value="Create New User" />
        </div>
    </form>
</body>
</html>

