<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Majic | Map Data Viewer</title>

    <link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/layout/joj.css" rel="stylesheet" media="screen" />
    <link href="/layout/sortable.css" rel="stylesheet" media="screen" />
    <link href="/layout/map.css" rel="stylesheet" />
    <link rel="stylesheet" href="/layout/font-awesome-4.2.0/css/font-awesome.min.css"/>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-sortable-min.js"></script>
    <script type="text/javascript" src="/layout/bootstrap/js/bootstrap.js"></script>
    <!--<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>-->
    <script type="text/javascript" src="/js/OpenLayers.js"></script>
    <script type="text/javascript" src="/js/LoadingPanel.js"></script>
    <script type="text/javascript" src="/js/ecomaps_map.js"></script>
    <script type="text/javascript" src="/js/ecomaps_general.js"></script>
    <script type="text/javascript" src="/js/mapGraphing.js"></script>
    <script type="text/javascript" src="/js/flot/excanvas.js"></script>
    <script type="text/javascript" src="/js/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/js/flot/jquery.flot.navigate.js"></script>
    <script type="text/javascript" src="/js/flot/jquery.flot.time.js"></script>
    <script type="text/javascript" src="/js/flot/jquery.flot.axislabels.js"></script>
    <script type="text/javascript">
        var DATASET_TYPE_SINGLE_CELL = '${c.DATASET_TYPE_SINGLE_CELL}';
        var DATASET_TYPE_COVERAGE = '${c.DATASET_TYPE_COVERAGE}';
        var DATASET_TYPE_TRANSECT = '${c.DATASET_TYPE_TRANSECT}';
        var DATASET_TYPE_LAND_COVER_FRAC = '${c.DATASET_TYPE_LAND_COVER_FRAC}'
        var DATASET_TYPE_SOIL_PROP = '${c.DATASET_TYPE_SOIL_PROP}'
    </script>
</head>
<body id="explore">
<div id="selected_id" style="display: none">${c.id}</div>
<div id="wrap">
    <xi:include href="nav_bar.html" />

    <div class="container-fluid" style="padding-top:40px; padding-bottom:0px; padding-right:0px;">
        <div>

            <table class="map-table">
                <tr>
                    <td id="cell-panel">
                        <div id="panel-div">
                        <div>
                            <h3 style="padding-top:15px;">Visualise Model Runs</h3>
                            <div class="sidebar-nav">
                                <ul class="nav nav-tabs">

                                    <li py:for="model_run_sort in c.model_run_sorts" id="tab_${model_run_sort['name']}"
                                        onclick="selectTab('${model_run_sort['name']}')" >
                                        <a href="#" >
                                            ${model_run_sort['name']}
                                        </a>
                                    </li>
                                </ul>
                                <div class="nav nav-list tab-pane" py:for="model_run_sort in c.model_run_sorts" id="pane_${model_run_sort['name']}" style="padding-right:0px;">
                                    <ul class="nav nav-list" py:for="model_run in model_run_sort['model_runs']" style="padding:0px">
                                        <li class="nav-header">
                                                    <a href="#" data-model_run_id="${model_run.id}" class="dataset-heading model-run">
                                                ${model_run.name}<div class="expand-icon" style="display:inline"> +</div>
                                            </a>
                                        </li>
                                        <div model-run-id="${model_run.id}" style="display:none">
                                            <ul class="nav nav-list">
                                                <li class="nav-header">
                                                    <a href="#" data-model_run_id="${model_run.id}" class="dataset-heading input">
                                                        Input Datasets<div class="expand-icon" style="display:inline"> +</div>
                                                    </a>
                                                </li>
                                                <div class="nav nav-list" style="display:none">
                                                    <li py:for="ds in model_run.datasets">
                                                        <py:if test="ds.is_input == 1">
                                                        <a class="dataset" href="#" layer-id="${ds.layer_id}" data-dsid="${ds.id}" data-model_run_id="${model_run.id}" dataset-type="${ds.dataset_type.type}">
                                                            <py:choose>
                                                                <py:when test="ds.dataset_type.type == c.DATASET_TYPE_SINGLE_CELL">
                                                                    <i class="fa fa-map-marker"></i>
                                                                </py:when>
                                                                <py:when test="ds.dataset_type.type == c.DATASET_TYPE_COVERAGE">
                                                                    <i class="fa fa-globe"></i>
                                                                </py:when>
                                                                <py:when test="ds.dataset_type.type == c.DATASET_TYPE_TRANSECT">
                                                                    <i class="fa fa-eye-slash"></i>
                                                                </py:when>
                                                                <py:when test="ds.dataset_type.type == c.DATASET_TYPE_SOIL_PROP or ds.dataset_type.type == c.DATASET_TYPE_LAND_COVER_FRAC">
                                                                    <i class="fa fa-cog"></i>
                                                                </py:when>
                                                                <py:otherwise>
                                                                    <i class="fa fa-globe"></i>
                                                                </py:otherwise>
                                                            </py:choose>
                                                            &nbsp;${ds.name}</a>
                                                        </py:if>
                                                    </li>
                                                </div>
                                            </ul>
                                            <ul class="nav nav-list">
                                                <li class="nav-header">
                                                    <a href="#" data-model_run_id="${model_run.id}" class="dataset-heading output">
                                                        Output Datasets<div class="expand-icon" style="display:inline"> +</div>
                                                    </a>
                                                </li>
                                                <div class="nav nav-list" style="display:none">
                                                    <li py:for="ds in model_run.datasets">
                                                        <a py:if="ds.is_input == 0" class="dataset" href="#" layer-id="${ds.layer_id}"
                                                           data-dsid="${ds.id}" dataset-type="${ds.dataset_type.type}" data-model_run_id="${model_run.id}">
                                                        <py:choose>
                                                            <py:when test="ds.dataset_type.type == c.DATASET_TYPE_SINGLE_CELL">
                                                                <i class="fa fa-map-marker"></i>
                                                            </py:when>
                                                            <py:when test="ds.dataset_type.type == c.DATASET_TYPE_COVERAGE">
                                                                <i class="fa fa-globe"></i>
                                                            </py:when>
                                                            <py:when test="ds.dataset_type.type == c.DATASET_TYPE_TRANSECT">
                                                                <i class="fa fa-eye-slash"></i>
                                                            </py:when>
                                                            <py:when test="ds.dataset_type.type == c.DATASET_TYPE_SOIL_PROP or ds.dataset_type.type == c.DATASET_TYPE_LAND_COVER_FRAC">
                                                                <i class="fa fa-cog"></i>
                                                            </py:when>
                                                            <py:otherwise>
                                                                <i class="fa fa-globe"></i>
                                                            </py:otherwise>
                                                        </py:choose>
                                                        &nbsp;${ds.name}</a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div><hr/></div>
                        <div class="hidden" id="options-panel">

                            <div id="layer-list" class="sidebar-nav">

                                <button class="btn btn-mini" id="reset-button"><i class="icon-backward"></i> Clear All Datasets</button><br/><br/>
                                <button class="btn btn-mini disabled" disabled="disabled" id="reset-graph"><i class="icon-screenshot"></i> Reset Graph Zoom</button>
                                <button class="btn btn-mini disabled" disabled="disabled" id="close-graph"><i class="icon-remove"></i> Close Graph</button>

                                <div id="dimension-panel" class="hidden">
                                    <h5>Dimension controls</h5>
                                    <div class="alert alert-info">Graphing is limited to the ${c.GRAPH_NPOINTS} closest points to times chosen below:</div>
                                    <ol class="sidebar-nav nopoints" id="dimension-list">

                                    </ol>
                                </div>
                                <div id="layer-panel">
                                    <h5 id="map-title">Layers</h5>
                                    <div id="layer-container" style="display:inline-block;">
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </td>

                    <td id="cell-map">
                        <div>
                <div id="map">
                    <div id="map-loading">
                        <p>Updating Map</p>
                    </div>
                    <div id="legend" class="hide">

                    </div>
                    <div id="server-offline">
                        <div class="alert alert-danger hide" style="display:inline-block">
                            <strong>Map Server Offline:</strong> You will not be able to display or plot any datasets until it is restored.</div>
                    </div>
                </div>

                <div id="graph" class="graph">
                    <div id="graph-title">Loading graph...</div>
                    <div id="graph-placeholder" style="width:100%; height:90%"></div>
                </div>
            </div>
                    </td>
                </tr>
            </table>
            <div class="pull-right" id="functions-panel">
                <div class="alert">
                    <a href="#image-panel" id="image-export"><i class="icon-share"></i> Export as image</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hide" id="analysis-detail"></div>
<div class="modal fade hide" id="image-panel">
    <div class="modal-body" id="image-panel-body">
        <p>Right-click and "Save As..." to save this image</p>
        <canvas id="map-canvas"></canvas>
    </div>
</div>
</body>
</html>
