<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="layout.html" />
<head>
    <title>Map Server Down</title>
    <script type="text/javascript" src="/js/faq.js"></script>
    <link href="/layout/faq.css" rel="stylesheet" media="screen" />
</head>
<body>
    <h1>Map Server Down</h1>
    <p>Unfortunately the Majic map server cannot be contacted. This page is not available until the map server is back
        online. Please try again later or if the problem persists contact
    <a href="mailto:${c.admin_email}">${c.admin_email}</a>.</p>
</body>
</html>