<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                    <a class="btn pull-right" href="${h.url(controller='account', action='logout')}">Log out</a>

                <ul class="nav pull-right">
                    <li>
                        <a id="nav-help" href="${h.url(controller='home', action='faq')}">
                            <i class="fa fa-question-circle help-icon"></i>&nbsp;Help</a>
                    </li>
                </ul>
                <a class="brand" href="${h.url(controller='home')}">Majic</a>

                <ul class="nav">
                    <li>
                        <a id="nav-explore" href="${h.url(controller='map', action='view')}">Explore</a>
                    </li>
                    <li>
                        <a id="nav-create" href="${h.url(controller='model_run', action='pre_create')}">New Model Run</a>
                    </li>
                    <li>
                        <a id="nav-catalogue" href="${h.url(controller='model_run')}">Model Runs</a>
                    </li>
                    <li>
                        <a id="nav-about" href="${h.url(controller='home', action='about')}">About</a>
                    </li>
                    <py:if test="c.admin_user">
                        <li class="dropdown">
                            <a id="nav-admin" data-toggle="dropdown" class="dropdown-toggle">
                                Admin Options
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="${h.url(controller='user')}">Users</a>
                                </li>
                                <li>
                                    <a href="${h.url(controller='user', action='requests')}">Account Requests</a>
                                </li>
                                <li>
                                    <a href="${h.url(controller='driving_data', action='index')}">Driving Data</a>
                                </li>
                            </ul>
                        </li>
                    </py:if>
                </ul>
            </div>
        </div>
    </div>
</html>