<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Account Requested</title>
        <link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/layout/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/layout/login.css"/>
</head>
<body>
<div id="logo"></div>
<div id="banner"></div>


<div class="container">
        <div class="row">
            <div class="span12">
                <h1>Welcome to Majic</h1>
            </div>
        </div>
        <div class="row">
            <div class="span12">

            </div>
            <div class="row" id="login-form">
                <p class="lead">Majic Terms &amp; Conditions</p>
                <div>
                    All Majic users must agree to abide by the Terms &amp; Conditions. These are summarized here but new
                    users should read the <a href="/docs/license.pdf">full PDF document</a> before requesting an account:
                    <br/><ul>
                        <li>Don't do this</li>
                        <li>Or this</li>
                        <li>Especially not this</li>
                        <li>But always make sure you do this.</li>
                    </ul><br/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>