<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Account Requested</title>
    <link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/layout/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/layout/joj-external.css"/>
</head>
<body>
<div id="logo"></div>
<!--<div id="banner"></div>-->
<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Welcome to Majic</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
        </div>
        <div class="row overlay">
            <p class="lead">Account Requested</p>
            <div>
                ${c.account_request.first_name},
                <br/><br/>
                A Majic account has been requested for you and we've sent an email to <a>${c.account_request.email}</a> confirming your request.
                Once it has been approved by a Majic admin you will receive another email letting you know that your account is ready for you to use.
                <br/><br/>
                Thanks for registering your interest with Majic!
            </div>
        </div>
    </div>
    <xi:include href="../about/cookie-warning.html"/>
</div>
</body>
</html>