<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Request a Majic Account</title>
    <link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/layout/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/layout/joj-external.css"/>
    <script src="/js/jquery.placeholder.js"></script>
</head>
<body>
<div id="logo"></div>
<!--<div id="banner"></div>-->

    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Welcome to Majic</h1>
            </div>
        </div>
        <div class="row">
            <div class="row overlay">
                <p class="lead">Request an account</p>

                    <div>
                    Majic is freely available to any researcher for non-commercial use, as set out in the
                    <a href="${h.url(controller='request_account', action='license')}" target="_blank">
                        Majic Terms &amp; Conditions.
                    </a>
                    <br/><br/>
                    To request an account for Majic, please fill in the form below. Any information supplied will be
                    used in accordance with the <a href="/docs/privacy.pdf" target="_blank">Majic privacy policy</a>.
                        <br/><br/>
                </div>
                <form class="form-horizontal" method="POST" action="${url(controller='request_account', action='request')}">
                    <div class="control-group">
                        <label class="control-label" for="first_name">First Name</label>
                        <div class="controls">
                            ${h.html_tags.text('first_name', placeholder='First Name')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="last_name">Last Name</label>
                        <div class="controls">
                            ${h.html_tags.text('last_name', placeholder='Last Name')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">Email Address</label>
                        <div class="controls">
                            ${h.html_tags.text('email', placeholder='Email Address')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="institution">Institution</label>
                        <div class="controls">
                            ${h.html_tags.text('institution', placeholder='Institution')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="usage">
                            How will you use Majic?<p style="font-size:12px; color:#808080; text-align: justify">
                            Give a brief but specific description of how you intend to use Majic in your research.</p>
                        </label>
                        <div class="controls">
                            ${h.html_tags.textarea('usage', rows=5, placeholder='How will you use Majic?')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="license" class="control-label">
                            I agree to the <a href="${h.url(controller='request_account', action='license')}" target="_blank">Majic Terms &amp; Conditions</a>
                        </label>
                        <div class="controls">
                            ${h.html_tags.checkbox('license', checked=False, placeholder='License')}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>