<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
    <title>Request a Majic Account</title>
    <link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/layout/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/layout/joj-external.css"/>
    <script src="/js/jquery.placeholder.js"></script>
</head>
<body>
<div id="logo"></div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Welcome to Majic</h1>
            </div>
        </div>
        <div class="row">
            <div class="row overlay">
                <p class="lead">Request an account</p>

                    <div>
                    <p>Majic is freely available to researchers and other non-commercial users as set out in the
                        <a href="${h.url(controller='request_account', action='license')}" target="_blank">Majic
                        Terms and Conditions.</a> Please ensure you have read and understood these Terms and Conditions
                        before requesting an account.</p>
                    <p>To request an account for Majic, please complete the form below. Any information supplied will be
                        used in accordance with the <a href="${h.url(controller='home', action='privacy')}" target="_blank">Majic privacy policy.</a></p>
                </div>
                <form class="form-horizontal" method="POST" action="${url(controller='request_account', action='request')}">
                    <div class="control-group">
                        <label class="control-label" for="first_name">First Name</label>
                        <div class="controls">
                            ${h.html_tags.text('first_name', placeholder='First Name')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="last_name">Last Name</label>
                        <div class="controls">
                            ${h.html_tags.text('last_name', placeholder='Last Name')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">Email Address</label>
                        <div class="controls">
                            ${h.html_tags.text('email', placeholder='Email Address')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="institution">Institution</label>
                        <div class="controls">
                            ${h.html_tags.text('institution', placeholder='Institution')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="usage">
                            How will you use Majic?<p style="font-size:12px; color:#808080; text-align: justify">
                            Give a brief but specific description of what you intend to use Majic for. This will help us
                            to understand our user needs when planning new functionality.</p>
                        </label>
                        <div class="controls">
                            ${h.html_tags.textarea('usage', rows=5, placeholder='How will you use Majic?')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="license" class="control-label">
                            I agree to the <a href="${h.url(controller='request_account', action='license')}" target="_blank">Majic Terms &amp; Conditions</a>
                        </label>
                        <div class="controls">
                            ${h.html_tags.checkbox('license', checked=False, placeholder='License')}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <xi:include href="../about/cookie-warning.html"/>
    </div>
</body>
</html>