<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>
        <py:if test="c.driving_dataset_id is None">
            New
        </py:if>
        <py:if test="c.driving_dataset_id is not None">
        Edit
        </py:if>
        Driving Data Set</title>
    <link rel="stylesheet" type="text/css" href="../../layout/joj.css"/>
    <link rel="stylesheet" type="text/css" href="../../layout/model_run_extents.css"/>
    <script src="/js/driving_data/edit.js"></script>
</head>
<body id="admin">
    <h1><py:if test="c.driving_dataset_id is None">
            New
        </py:if>
        <py:if test="c.driving_dataset_id is not None">
        Edit
        </py:if> Driving Data</h1>

    Use this page to define all the parameters for a driving data set. It is recommended that you test your driving
    data before making it available to normal users. To restrict the data to admins only make sure the
    <a href="#is_restricted_to_admins">Restricted to Admins</a> checkbox is ticked.
    Perform a successful run then edit this set again and untick the button to make
    it available to everyone.

    <form class="form-horizontal" method="POST">
        <h2>General</h2>

        Setup general information for the driving data.

        <div class="control-group">
            <label for="name" class="control-label">Name</label>
            <div class="controls">
               ${h.html_tags.text('name', placeholder='Enter a unique name', class_='input-xxlarge')}
            </div>
        </div>
        <div class="control-group">
            <label for="description" class="control-label">Description</label>
            <div class="controls">
               ${h.html_tags.textarea('description', placeholder='Description', class_='input-xxlarge', rows=5)}
            </div>
        </div>


        <div class="control-group">
            <label for="geographic_region" class="control-label">
                Geographical Region
            </label>
            <div class="controls">
               ${h.html_tags.text('geographic_region', placeholder='Geographic Region')}
            </div>
        </div>

        <div class="control-group">
            <label for="spatial_resolution" class="control-label">
                Spatial Resolution
            </label>
            <div class="controls">
               ${h.html_tags.text('spatial_resolution', placeholder='Spatial Resolution')}
            </div>
        </div>

        <div class="control-group">
            <label for="temporal_resolution" class="control-label">
                Temporal Resolution
            </label>
            <div class="controls">
               ${h.html_tags.text('temporal_resolution', placeholder='Temporal Resolution')}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Spatial Extent
                <p class="label-explain">The spatial area for the driving data.</p>
            </label>
            <div class="controls">
                <fieldset class="fieldset">
                    <div class="controls-row">
                        <div class="span4">
                            <h5>Boundary</h5>
                        </div>
                        <div class="span7">
                            <h5>Value</h5>
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>Northern Bounding Latitude <small>(&deg;N)</small></p>
                        </div>
                        <div class="span7">
                            <div class="" >
                                ${h.html_tags.text('boundary_lat_north', placeholder="Northern latitude")}
                            </div>
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>Southern Bounding Latitude <small>(&deg;N)</small></p>
                        </div>
                        <div class="span7">
                            <div class="" >
                                ${h.html_tags.text('boundary_lat_south', placeholder="Southern latitude")}
                            </div>
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>Western Bounding Longitude <small>(&deg;E)</small></p>
                        </div>
                        <div class="span7">
                            ${h.html_tags.text('boundary_lon_west', placeholder="Western longitude")}
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>Eastern Bounding Longitude <small>(&deg;E)</small></p>
                        </div>
                        <div class="span7">
                            ${h.html_tags.text('boundary_lon_east', placeholder="Eastern longitude")}
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Temporal Extent
                <p class="label-explain">The time over which the driving data extends.</p>
            </label>
            <div class="controls">
                <fieldset class="fieldset">
                    <div class="controls-row">
                        <div class="span4">
                            <h5>Time</h5>
                        </div>
                        <div class="span7">
                            <h5>Value</h5>
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>Start Date and Time</p>
                        </div>
                        <div class="span7">
                                ${h.html_tags.text('driving_data_start', placeholder="YYYY-MM-DD HH:MM")}
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>End Date and Time </p>
                        </div>
                        <div class="span7">
                            <div class="" >
                                ${h.html_tags.text('driving_data_end', placeholder="YYYY-MM-DD HH:MM")}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="control-group">
            <label for="view" class="control-label">
                View List Order
                <i class="fa fa-info-circle" data-toggle="tooltip" title="View List Order" data-trigger="click | hover"
                     data-content="On the driving data page in new model run the driving data sets are ordered by this value (smallest at the top)"></i>
            </label>
            <div class="controls">
               ${h.html_tags.text('view_order_index', placeholder='View list order')}
            </div>
        </div>

        <div class="control-group">
            <label for="view" class="control-label">
                Mask Usage Order
                <i class="fa fa-info-circle" data-toggle="tooltip" title="Mask Usage Order" data-trigger="click | hover"
                     data-content="The soil properties and default land cover values for a single site uploaded dataset are obtained from
                      a driving data set. The driving dataset with the smallest mask usage order is picked as long as the
                      longitude and latitude values are within the driving data set bounds."></i>
            </label>
            <div class="controls">
               ${h.html_tags.text('usage_order_index', placeholder='Mask usage order')}
            </div>
        </div>

        <a id="is_restricted_to_admins"/>
        <div class="control-group">
            <label for="view" class="control-label">
                Restricted to Admins
                <i class="fa fa-info-circle" data-toggle="tooltip" title="Restricted to Admins" data-trigger="click | hover"
                     data-content="If ticked this driving dataset is viewable only by admins. It is advised that you
                     test a new driving dataset before unticking this box."></i>
            </label>
            <div class="controls">
               ${h.html_tags.checkbox('is_restricted_to_admins', checked=True)}
            </div>
        </div>

        <h2>Regions</h2>

        <p>This is the list of regions that can be applied to the land cover map by the user.</p>
        <p>Region files should be uploaded using the <i>Transferring data to the Jasmin Cluster</i> section in the System Maintenance Guide.
        This guide can be found in the project's documentation folder on the project drive.</p>
        <p>It is suggested that the regions should be uploaded to
        <code>&lt;data&gt;/&lt;driving data set name&gt;/masks/&lt;filename.nc&gt; </code> where data is the data directory of the
        jules-bd group space; the path for this can be found in the <i>Deployment View: Managed Cloud</i> subsection of the Architectural Description Document.
        The file can be in a sub directory of masks if desired.
        </p>
        <p>
        The file should be netcdf containing a single variable with the same name as the fractional cover
        variable. The variable should have the same dimensions as the fractional cover variable.
        The values of the variable are 0 where the landcover type should be set and 1 everywhere else
        – e.g. for a UK region all points on the grid for UK should be 0.
        </p>

        <div class="control-group">
            <label class="control-label">
                Masks
                <p class="label-explain">Categories, locations and names of masks</p>
            </label>

            <div class="controls">
                <button type="button" class="btn control-group" value="masks" id="add_mask">
                    <i class="icon-plus"></i>
                    Add Mask
                </button>

                <fieldset class="fieldset">
                    <div class="controls-row" id="mask_header">
                        <div class="span3">
                            <h5>Category</h5>
                        </div>
                        <div class="span3">
                            <h5>Name</h5>
                        </div>
                        <div class="span5">
                            <h5>Path</h5>
                        </div>
                    </div>
                    ${h.html_tags.hidden('mask_count')}
                    <div py:for="masknum in reversed(range(c.masks))" class="controls-row">
                        <div class="span3">
                            ${h.html_tags.hidden('region-{}.id'.format(masknum))}
                            ${h.html_tags.text('region-{}.category'.format(masknum), placeholder="Category")}
                        </div>
                        <div class="span3">
                            ${h.html_tags.text('region-{}.name'.format(masknum), placeholder="Name")}
                        </div>
                        <div class="span5">
                            ${h.html_tags.text('region-{}.path'.format(masknum), placeholder="data/filepath/filename.nc")}
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>


        <h2>Driving Data Files</h2>

        <p>
            The location of the driving data files are set using the usual Jules filename template.
        </p>
        <p>
            Driving data files should be uploaded using the <i>Transferring data to the Jasmin Cluster</i> section in the System Maintenance Guide.
            This guide can be found in the project's documentation folder on the project drive.</p>
        <p>
            It is suggested that the driving data files should be uploaded to the directory
            <code>&lt;data&gt;/&lt;driving data set name&gt;/driving</code> where data is the data directory of the
            jules-bd group space; the path for this can be found in the <i>Deployment View: Managed Cloud</i> subsection of the Architectural Description Document.
        </p>
        <p>
            In additional to the normal netcdf files needed by Jules you need to have a THREDDS ncml file.
            This should have the same name as one the of driving datafiles but without any date templating. This should probably be a softlink to the
            standard ncml file in the data root directory.
            E.g. if a driving data files are of the form data/WATCH_2D/driving/LWdown_WFD/LWdown_WFD_200012.nc then use the command:
            <code> ln -s data/ncml_file.ncml_template data/WATCH_2D/driving/LWdown_WFD/LWdown_WFD.ncml </code>
        </p>
        <p>
            All files are validated on submit; this means there should be a file for each variable, year, month combination and an ncml file per variable.
        </p>

        <div class="control-group">
            <label for="driving_data_period" class="control-label">Period of a Timestep (s)</label>
            <div class="controls">
               ${h.html_tags.text('driving_data_period', placeholder='Period in s of a time step')}
            </div>
        </div>
        <div class="control-group">
            <label for="drive_file" class="control-label">Driving data filename or template</label>
            <div class="controls">
               ${h.html_tags.text('drive_file', placeholder='data/filepath/template.nc', class_='input-xxlarge')}
            </div>
        </div>
        <div class="control-group">
            <label for="drive_nx" class="control-label">Number of Cells in the X dimension</label>
            <div class="controls">
               ${h.html_tags.text('drive_nx', placeholder='X')}
            </div>
        </div>
        <div class="control-group">
            <label for="drive_ny" class="control-label">Number of Cells on the Y dimension</label>
            <div class="controls">
               ${h.html_tags.text('drive_ny', placeholder='Y')}
            </div>
        </div>

        <div class="control-group">
            <label for="drive_x_dim_name" class="control-label">X Axis Dimension Name</label>
            <div class="controls">
               ${h.html_tags.text('drive_x_dim_name', placeholder='X Axis')}
            </div>
        </div>

        <div class="control-group">
            <label for="drive_y_dim_name" class="control-label">Y Axis Dimension Name</label>
            <div class="controls">
               ${h.html_tags.text('drive_y_dim_name', placeholder='Y Axis')}
            </div>
        </div>

        <div class="control-group">
            <label for="drive_time_dim_name" class="control-label">Time Axis Dimension Name</label>
            <div class="controls">
               ${h.html_tags.text('drive_time_dim_name', placeholder='Time Axis')}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Driving Data Variables
            </label>


            <div class="controls">
                <button type="button" class="btn control-group" id="add_variable">
                    <i class="icon-plus"></i>
                    Add Variable
                </button>

                <fieldset class="fieldset">
                    ${h.html_tags.hidden('drive_nvars')}
                    <div class="controls-row" id="drive_vars_header">
                        <h5 class="span2">Variable </h5>
                        <h5 class="span2">Name</h5>
                        <h5 class="span2">Template</h5>
                        <h5 class="span2">Interpolation</h5>
                    </div>
                    <div py:for="varnum in reversed(range(c.nvar))" class="controls-row">
                            ${h.html_tags.text('drive_var_-{}.vars'.format(varnum), placeholder="Variable", class_="span2")}
                            ${h.html_tags.text('drive_var_-{}.names'.format(varnum), placeholder="Variable name", class_="span2")}
                            ${h.html_tags.text('drive_var_-{}.templates'.format(varnum), placeholder="Template name", class_="span2")}
                            ${h.html_tags.text('drive_var_-{}.interps'.format(varnum), placeholder="Interpolation", class_="span2")}
                            <i class="fa fa-times-circle fa-2x ico red span1"></i>
                    </div>
                </fieldset>
            </div>
        </div>

        <h2>Ancillary Files</h2>
        <p>
            Setup the ancillary files and most common options in this section.
        </p>
        <p>
            Ancillary files should be uploaded using the <i>Transferring data to the Jasmin Cluster</i> section in the System Maintenance Guide.
            This guide can be found in the project's documentation folder on the project drive.</p>
        <p>
            It is suggested that the ancillary files should be uploaded to the directory
            <code>&lt;data&gt;/&lt;driving data set name&gt;/ancils</code> where data is the data directory of the
            jules-bd group space; the path for this can be found in the <i>Deployment View: Managed Cloud</i> subsection of the Architectural Description Document.
        </p>

        <div class="control-group">
            <label for="latlon_file" class="control-label">Lat-Lon Filename</label>
            <div class="controls">
               ${h.html_tags.text('latlon_file', placeholder='data/filepath/ancil/name.nc', class_='input-xxlarge')}
            </div>
        </div>
        <div class="control-group">
            <label for="latlon_lat_name" class="control-label">Latitude Variable Name</label>
            <div class="controls">
               ${h.html_tags.text('latlon_lat_name', placeholder='Variable name')}
            </div>
        </div>
        <div class="control-group">
            <label for="latlon_lat_name" class="control-label">Longitude Variable Name</label>
            <div class="controls">
               ${h.html_tags.text('latlon_lon_name', placeholder='Variable name')}
            </div>
        </div>

        <div class="control-group">
            <label for="land_frac_file" class="control-label">Land Fraction Filename</label>
            <div class="controls">
               ${h.html_tags.text('land_frac_file', placeholder='data/filepath/ancil/name.nc', class_='input-xxlarge')}
            </div>
        </div>
        <div class="control-group">
            <label for="land_frac_frac_name" class="control-label">Land Fraction Variable Name</label>
            <div class="controls">
               ${h.html_tags.text('land_frac_frac_name', placeholder='Variable name')}
            </div>
        </div>

        <div class="control-group">
            <label for="frac_file" class="control-label">Land Cover Fraction Filename</label>
            <div class="controls">
               ${h.html_tags.text('frac_file', placeholder='data/filepath/ancil/name.nc', class_='input-xxlarge')}
            </div>
        </div>

        <div class="control-group">
            <label for="frac_frac_name" class="control-label">Land Fraction Cover Variable Name</label>
            <div class="controls">
               ${h.html_tags.text('frac_frac_name', placeholder='Variable name')}
            </div>
        </div>

        <div class="control-group">
            <label for="frac_type_dim_name" class="control-label">Land Fraction Cover Dimension Name</label>
            <div class="controls">
               ${h.html_tags.text('frac_type_dim_name', placeholder='Dimension name')}
            </div>
        </div>

        <div class="control-group">
            <label for="soil_props_file" class="control-label">Soil Properties Filename</label>
            <div class="controls">
               ${h.html_tags.text('soil_props_file', placeholder='data/filepath/ancil/name.nc', class_='input-xxlarge')}
            </div>
        </div>

        <h2>Other values</h2>
        <p>
            Specify in this section any other Jules parameters that are needed for this dataset. This might include for instance
            JULES_SOIL_PROPS::var. These will override any scientific configuration parameters when creating a model run. The values
            should be as they would appear in the namelist file, e.g. JULES_SOIL_PROPS::var might be <code>'b'  'sathh'</code>.
        </p>
        <div class="control-group">
            <label class="control-label">
                Jules Parameters
                <p class="explain">Values are as they would appear in the fortran, i.e. strings need to be quoted</p>
            </label>


            <div class="controls">

                <fieldset class="fieldset well">

                    <div class="controls-row" style="">

                        <select id="namelists" class="span4">
                                <option py:for="namelist in sorted(c.namelist.keys())" value="${namelist}">${namelist}</option>
                        </select>
                        <span class="span1"><center><b>::</b></center></span>
                        <select py:for="namelist_name, namelist_dict in c.namelist.iteritems()" id="namelist_${namelist_name}" class="parameters span4">
                            <option py:for="value, name in namelist_dict.iteritems()" value="${value}">${name}</option>
                        </select>

                        <button type="button" class="btn span2" value="masks" id="add_parameter">
                            <i class="icon-plus"></i>
                            Add Parameter
                        </button>
                    </div>
                </fieldset>


                <fieldset class="fieldset">
                    <div class="controls-row" id="parameters_header">
                        <h5 class="span5">Parameter </h5>
                        <h5 class="span5">Value</h5>
                    </div>
                    ${h.html_tags.hidden('params_count')}
                    <div py:for="varnum in reversed(range(len(c.param_names)))" class="controls-row">
                        <span class="span4">
                            ${c.param_names[varnum]}
                            ${h.html_tags.hidden('param-{}.id'.format(varnum))}
                        </span>
                        ${h.html_tags.text('param-{}.value'.format(varnum), placeholder='Fortran namelist value', class_='span4')}
                        <i class="fa fa-times-circle fa-2x ico red span1"></i>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="controls">

            <input
                    type="submit"
                    class="btn btn-primary btn-large pull-right control-group"
                    value="${'Create' if c.driving_dataset_id is None else 'Update'}"/>
            <a href="${url(controller='driving_data', action='index')}"
                    class="btn btn-large pull-right control-group"
                    data-confirm="This will undo any changes you have made to the data. Do you want to continue?">
                Cancel</a>
        </div>
    </form>
</body>
</html>