<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>
        <py:if test="c.driving_data_set.id is None">
            New
        </py:if>
        <py:if test="c.driving_data_set.id is not None">
        Edit
        </py:if>
        Driving Data Set</title>
    <link rel="stylesheet" type="text/css" href="../../layout/joj.css"/>
    <link rel="stylesheet" type="text/css" href="../../layout/model_run_extents.css"/>
</head>
<body id="admin">
    <h1><py:if test="c.driving_data_set.id is None">
            New
        </py:if>
        <py:if test="c.driving_data_set.id is not None">
        Edit
        </py:if> Driving Data</h1>

    <form class="form-horizontal" method="POST">
        <h2>General</h2>
        <div class="control-group">
            <label for="name" class="control-label">Name</label>
            <div class="controls">
               ${h.html_tags.text('name', placeholder='Enter a unique name', class_='input-xxlarge')}
            </div>
        </div>
        <div class="control-group">
            <label for="description" class="control-label">Description</label>
            <div class="controls">
               ${h.html_tags.textarea('description', placeholder='Description', class_='input-xxlarge', rows=5)}
            </div>
        </div>


        <div class="control-group">
            <label for="geographic_region" class="control-label">
                Geographical Region
            </label>
            <div class="controls">
               ${h.html_tags.text('geographic_region', placeholder='Geographic Region')}
            </div>
        </div>

        <div class="control-group">
            <label for="spatial_resolution" class="control-label">
                Spatial Resolution
            </label>
            <div class="controls">
               ${h.html_tags.text('spatial_resolution', placeholder='Spatial Resolution')}
            </div>
        </div>

        <div class="control-group">
            <label for="temporal_resolution" class="control-label">
                Temporal Resolution
            </label>
            <div class="controls">
               ${h.html_tags.text('temporal_resolution', placeholder='Temporal Resolution')}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Spatial Extent
                <p class="label-explain">The spatial area for the driving data.</p>
            </label>
            <div class="controls">
                <fieldset class="fieldset">
                    <div class="controls-row">
                        <div class="span4">
                            <h5>Boundary</h5>
                        </div>
                        <div class="span7">
                            <h5>Value</h5>
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>Northern Bounding Latitude <small>(&deg;N)</small></p>
                        </div>
                        <div class="span7">
                            <div class="" >
                                ${h.html_tags.text('boundary_lat_north', placeholder="Northern latitude")}
                            </div>
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>Southern Bounding Latitude <small>(&deg;N)</small></p>
                        </div>
                        <div class="span7">
                            <div class="" >
                                ${h.html_tags.text('boundary_lat_south', placeholder="Southern latitude")}
                            </div>
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>Western Bounding Longitude <small>(&deg;E)</small></p>
                        </div>
                        <div class="span7">
                            ${h.html_tags.text('boundary_lon_west', placeholder="Western longitude")}
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>Eastern Bounding Longitude <small>(&deg;E)</small></p>
                        </div>
                        <div class="span7">
                            ${h.html_tags.text('boundary_lon_east', placeholder="Eastern longitude")}
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Temporal Extent
                <p class="label-explain">The time over which the driving data extends.</p>
            </label>
            <div class="controls">
                <fieldset class="fieldset">
                    <div class="controls-row">
                        <div class="span4">
                            <h5>Time</h5>
                        </div>
                        <div class="span7">
                            <h5>Value</h5>
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>Start Date and Time</p>
                        </div>
                        <div class="span7">
                                ${h.html_tags.text('driving_data_start', placeholder="YYYY-MM-DD HH:MM")}
                        </div>
                    </div>
                    <div class="controls-row">
                        <div class="span4">
                            <p>End Date and Time </p>
                        </div>
                        <div class="span7">
                            <div class="" >
                                ${h.html_tags.text('driving_data_end', placeholder="YYYY-MM-DD HH:MM")}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="control-group">
            <label for="view" class="control-label">
                View List Order
                <i class="fa fa-info-circle" data-toggle="tooltip" title="View List Order" data-trigger="click | hover"
                     data-content="On the driving data page in new model run the driving data sets are ordered by this value (smallest at the top)"></i>
            </label>
            <div class="controls">
               ${h.html_tags.text('view_order_index', placeholder='View list order')}
            </div>
        </div>

        <div class="control-group">
            <label for="view" class="control-label">
                Mask Usage Order
                <i class="fa fa-info-circle" data-toggle="tooltip" title="Mask Usage Order" data-trigger="click | hover"
                     data-content="The soil properties and default land cover values for a single site uploaded dataset are obtained from
                      a driving data set. The driving dataset with the smallest mask usage order is picked as long as the
                      longitude and latitude values are within the driving data set bounds."></i>
            </label>
            <div class="controls">
               ${h.html_tags.text('usage_order_index', placeholder='Mask usage order')}
            </div>
        </div>


        <h2>Masks</h2>



        <div class="control-group">
            <label class="control-label">
                Masks
                <p class="label-explain">Categories, locations and names of masks</p>
            </label>

            <script>
                /* show the correct parameters list for the selected namelist*/
                function update_namelist_showing()
                {
                    selected_namelist = $('#namelists').val();
                    $(".parameters").hide();
                    $("#namelist_" + selected_namelist).show();
                }

                /* Add a mask line*/
                function add_mask()
                {
                    mask_count = $('#mask_count').val();
                    mask_count = parseInt(mask_count) + 1;
                    $('#mask_count').val(mask_count);
                    mask_template = '<div class="controls-row"> <div class="span3"> \
                                <input id="id_%index%" name="id_%index%" placeholder="Category" type="hidden" value="" /> \
                                <input id="category_%index%" name="category_%index%" placeholder="Category" type="text" value="" /> \
                            </div> \
                            <div class="span3"> \
                                <input id="name_%index%" name="name_%index%" placeholder="Name" type="text" value="" /> \
                            </div> \
                            <div class="span5"> \
                                <input id="path_%index%" name="path_%index%" placeholder="data/filepath/filename.nc" type="text" value="" /> \
                            </div> \
                        </div>';
                    $("#mask_controls").prepend(mask_template.replace(/%index%/g, mask_count));
                }

                /* initialise name list and setup click and change functions*/
                $(function ()
                  {
                    update_namelist_showing
                    $("#namelists").change(update_namelist_showing);
                    $("#add_mask").click(add_mask);
                  })
                </script>

            <div class="controls">
                <button type="button" class="btn control-group" value="masks" id="add_mask">
                    <i class="icon-plus"></i>
                    Add Mask
                </button>

                <fieldset class="fieldset">
                    <div class="controls-row">
                        <div class="span3">
                            <h5>Category</h5>
                        </div>
                        <div class="span3">
                            <h5>Name</h5>
                        </div>
                        <div class="span5">
                            <h5>Path</h5>
                        </div>
                    </div>
                    ${h.html_tags.hidden('mask_count')}
                    <div py:for="masknum in range(c.masks)" class="controls-row" id="mask_controls">
                        <div class="span3">
                            ${h.html_tags.hidden('id_{}'.format(masknum))}
                            ${h.html_tags.text('category_{}'.format(masknum), placeholder="Category")}
                        </div>
                        <div class="span3">
                            ${h.html_tags.text('name_{}'.format(masknum), placeholder="Name")}
                        </div>
                        <div class="span5">
                            ${h.html_tags.text('path_{}'.format(masknum), placeholder="data/filepath/filename.nc")}
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>


        <h2>Driving Data Files</h2>

        <div class="control-group">
            <label for="driving_data_period" class="control-label">Period of a Timestep (s)</label>
            <div class="controls">
               ${h.html_tags.text('driving_data_period', placeholder='Period in s of a time step')}
            </div>
        </div>
        <div class="control-group">
            <label for="drive_file" class="control-label">Driving data filename or template</label>
            <div class="controls">
               ${h.html_tags.text('drive_file', placeholder='data/filepath/template.nc', class_='input-xxlarge')}
            </div>
        </div>
        <div class="control-group">
            <label for="drive_nx" class="control-label">Number of Cells in the X dimension</label>
            <div class="controls">
               ${h.html_tags.text('drive_nx', placeholder='X')}
            </div>
        </div>
        <div class="control-group">
            <label for="drive_ny" class="control-label">Number of Cells on the Y dimension</label>
            <div class="controls">
               ${h.html_tags.text('drive_ny', placeholder='Y')}
            </div>
        </div>

        <div class="control-group">
            <label for="drive_x_dim_name" class="control-label">X Axis Dimension Name</label>
            <div class="controls">
               ${h.html_tags.text('drive_x_dim_name', placeholder='X Axis')}
            </div>
        </div>

        <div class="control-group">
            <label for="drive_y_dim_name" class="control-label">Y Axis Dimension Name</label>
            <div class="controls">
               ${h.html_tags.text('drive_y_dim_name', placeholder='Y Axis')}
            </div>
        </div>

        <div class="control-group">
            <label for="drive_time_dim_name" class="control-label">Time Axis Dimension Name</label>
            <div class="controls">
               ${h.html_tags.text('drive_time_dim_name', placeholder='Time Axis')}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Driving Data Variables
            </label>


            <div class="controls">
                <button type="button" class="btn control-group" value="masks">
                    <i class="icon-plus"></i>
                    Add Variable
                </button>

                <fieldset class="fieldset">
                    ${h.html_tags.hidden('drive_nvars')}
                    <div class="controls-row">
                        <h5 class="span2">Variable </h5>
                        <h5 class="span2">Name</h5>
                        <h5 class="span2">Template</h5>
                        <h5 class="span2">Interpolation</h5>
                    </div>
                    <div py:for="varnum in range(c.nvar)" class="controls-row">
                            ${h.html_tags.text('drive_vars_{}'.format(varnum), placeholder="Variable", class_="span2")}
                            ${h.html_tags.text('drive_var_names_{}'.format(varnum), placeholder="Variable name", class_="span2")}
                            ${h.html_tags.text('drive_var_templates_{}'.format(varnum), placeholder="Template name", class_="span2")}
                            ${h.html_tags.text('drive_var_interps_{}'.format(varnum), placeholder="Interpolation", class_="span2")}
                            ${h.html_tags.hidden('drive_var_is_deleted_{}'.format(varnum))}
                            <i class="fa fa-times-circle fa-2x ico red span1"></i>
                    </div>
                </fieldset>
            </div>
        </div>

        <h2>Ancillary Files</h2>


        <div class="control-group">
            <label for="latlon_file" class="control-label">Lat-Lon Filename</label>
            <div class="controls">
               ${h.html_tags.text('latlon_file', placeholder='data/filepath/ancil/name.nc', class_='input-xxlarge')}
            </div>
        </div>
        <div class="control-group">
            <label for="latlon_lat_name" class="control-label">Latitude Variable Name</label>
            <div class="controls">
               ${h.html_tags.text('latlon_lat_name', placeholder='Variable name')}
            </div>
        </div>
        <div class="control-group">
            <label for="latlon_lat_name" class="control-label">Longitude Variable Name</label>
            <div class="controls">
               ${h.html_tags.text('latlon_lon_name', placeholder='Variable name')}
            </div>
        </div>

        <div class="control-group">
            <label for="land_frac_file" class="control-label">Land Fraction Filename</label>
            <div class="controls">
               ${h.html_tags.text('land_frac_file', placeholder='data/filepath/ancil/name.nc', class_='input-xxlarge')}
            </div>
        </div>
        <div class="control-group">
            <label for="land_frac_frac_name" class="control-label">Land Fraction Variable Name</label>
            <div class="controls">
               ${h.html_tags.text('land_frac_frac_name', placeholder='Variable name')}
            </div>
        </div>

        <div class="control-group">
            <label for="frac_file" class="control-label">Land Cover Fraction Filename</label>
            <div class="controls">
               ${h.html_tags.text('frac_file', placeholder='data/filepath/ancil/name.nc', class_='input-xxlarge')}
            </div>
        </div>

        <div class="control-group">
            <label for="frac_frac_name" class="control-label">Land Fraction Cover Variable Name</label>
            <div class="controls">
               ${h.html_tags.text('frac_frac_name', placeholder='Variable name')}
            </div>
        </div>

        <div class="control-group">
            <label for="frac_type_dim_name" class="control-label">Land Fraction Cover Dimension Name</label>
            <div class="controls">
               ${h.html_tags.text('frac_type_dim_name', placeholder='Dimension name')}
            </div>
        </div>

        <div class="control-group">
            <label for="soil_props_file" class="control-label">Soil Properties Filename</label>
            <div class="controls">
               ${h.html_tags.text('soil_props_file', placeholder='data/filepath/ancil/name.nc', class_='input-xxlarge')}
            </div>
        </div>

        <h2>Other values</h2>

        <div class="control-group">
            <label class="control-label">
                Jules Parameters
                <p class="explain">Values are as they would appear in the fortran, i.e. strings need to be quoted</p>
            </label>


            <div class="controls">

                <fieldset class="fieldset well">

                    <div class="controls-row" style="">

                        <select id="namelists" class="span4">
                                <option py:for="namelist in sorted(c.namelist.keys())" value="${namelist}">${namelist}</option>
                        </select>
                        <span class="span1"><center><b>::</b></center></span>
                        <select py:for="namelist_name, namelist_dict in c.namelist.iteritems()" id="namelist_${namelist_name}" class="parameters span4">
                            <option py:for="value, name in namelist_dict.iteritems()" value="${value}">${name}</option>
                        </select>

                        <button type="button" class="btn span2" value="masks" onchange="update_namelist_showing()">
                            <i class="icon-plus"></i>
                            Add Parameter
                        </button>
                    </div>
                </fieldset>


                <fieldset class="fieldset">
                    <div class="controls-row">
                        <h5 class="span5">Parameter </h5>
                        <h5 class="span5">Value</h5>
                    </div>
                    <div py:for="varnum in range(len(c.param_names))" class="controls-row">
                        <span class="span5">
                            ${c.param_names[varnum]}
                            ${h.html_tags.hidden('param_id_{}'.format(varnum))}
                            ${h.html_tags.hidden('param_is_deleted_{}'.format(varnum))}
                        </span>
                        ${h.html_tags.text('param_value_{}'.format(varnum), placeholder='Fortran namelist value', class_='span5')}
                        <i class="fa fa-times-circle fa-2x ico red span1"></i>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="controls">
            <input type="submit" class="btn btn-primary btn-large pull-right control-group" value="Update" />
        </div>
    </form>
</body>
</html>