/*
    Style sheet for the Model Run Driving Data page (driving_data.html)
*/

.green {
    color:green
}

.grey {
    color:darkgrey;
}

.select-icon, .checkbox {
    cursor: pointer;
    font-size: 1.5em;
}

.site-option:hover i {
    color:green
}

.select-div {
    width:50px;
    float:left;
    text-align: center;
    cursor:pointer;
}

.description-div {
    margin: 0 0 0 50px;
    cursor:pointer;
}

.controls-row, .fieldset {
    width:900px;
}

.accordion {
    margin-bottom:0;
    display:inline-block;
}

.accordion-group {
    background-color: #F7F7F7
}

#bng-error {
    margin-top:10px;
    margin-bottom:0px;
    display:none;
}

#upload_yes:hover i, #upload_no:hover i {
    color:green;
}

.well {
    width:400px;
}