/*
    Style sheet for the Model Run Submit page (submit.html)
*/

.summary:hover {
    cursor:pointer;
    color:#08C;
}

.summary:hover .page-group {
   border-color:#08c;
}

.summary:hover i, .summary:hover p, .summary:hover h3, .summary:hover ul {
    color:#08C;
}

.page-group {
    border-left: 5px solid #DDD;
    padding-left: 15px;
    color: black;
}

div.icon {
    text-align:right;
    display: table-cell;
    vertical-align: middle;
}

.edit {
    color:#DDD;
}

div.edit {
    display: table;
}

.edit-rows {
    margin-bottom: 20px;
}