<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

<head>
    <title>About</title>
    <link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" href="/layout/joj-external.css"/>

</head>
<body id="about">
<div id="logo"></div>
<!--<div id="banner"></div>-->

<div class="container">
        <div class="row">
            <div class="span12">
                <h1>About Majic</h1>
            </div>
        </div>
        <div class="row">
            <div class="row overlay">
                <h2>Managing Access to Jules in the Cloud</h2>
                <xi:include href="about-text.html"/>
            </div>
        </div>
    <xi:include href="cookie-warning.html"/>
    </div>
</body>
</html>