<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
<body>
<div>
    All Majic users must agree to abide by the Terms &amp; Conditions. These are summarized here but new
    users should read the <a href="/docs/license.pdf">full PDF document</a> before requesting an account:
    <br/><ul>
    <li>Don't do this</li>
    <li>Or this</li>
    <li>Especially not this</li>
    <li>But always make sure you do this.</li>
</ul><br/>
</div>
</body>
</html>