<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Majic Cookie Policy</title>
    <link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/layout/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/layout/joj-external.css"/>
</head>
<body>
<div id="logo"></div>


<div class="container">
        <div class="row">
            <div class="span12">
                <h1>Welcome to Majic</h1>
            </div>
        </div>
        <div class="row">
            <div class="row overlay">
                <p class="lead">Majic Cookie Policy</p>
                <div>
                    <p>When we provide services, we want to make them easy, useful and reliable. Where services are
                        delivered on the internet, this sometimes involves placing small amounts of information on your
                        device, for example, computer or mobile phone. These include small files known as cookies.
                        They cannot be used to identify you personally.</p>
                    <p>These pieces of information are used to improve services for you through, for example, enabling a
                        service to recognise your device so you don't have to give the same information several times
                        during one task; recognising that you may already have given a username and password so you
                        don't need to do it for every web page requested; measuring how many people are using services,
                        so they can be made easier to use and there's enough capacity to ensure they are fast. </p>
                    <p>You can manage these small files yourself and learn more about them through advice on
                        <a href="http://www.aboutcookies.org/" target="_blank">AboutCookies.org</a> (external link).
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>