<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="../layout.html" />
<head>
    <title>Frequently Asked Questions</title>
    <script type="text/javascript" src="/js/faq.js"></script>
    <link href="/layout/faq.css" rel="stylesheet" media="screen" />
</head>
<body>
    <h1>Frequently Asked Questions</h1>
    <p>Here are some of the most commonly asked questions about Majic:</p>
    <div id="links"></div>

    <div id="q1" class="qa">
        <p class="q"><b>Frequently asked Question 1?</b></p>
        <p class="a">Answer to that question goes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much text</p>
    </div>

    <div id="q2" class="qa">
        <p class="q"><b>Frequently asked Question 2?</b></p>
        <p class="a">Answer to that question goes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much text</p>
    </div>

    <div id="q3" class="qa">
        <p class="q"><b>Frequently asked Question 3?</b></p>
        <p class="a">Answer to that question goes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much textgoes here and here and more text so much text</p>
    </div>
</body>
</html>