<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
    <title>Majic Cookie Policy</title>
    <link href="/layout/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/layout/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/layout/joj-external.css"/>
</head>
<body>
<div id="logo"></div>


<div class="container">
        <div class="row">
            <div class="span12">
                <h1>Welcome to Majic</h1>
            </div>
        </div>
        <div class="row">
            <div class="row overlay">
                <p class="lead">Majic Privacy Policy</p>
                <div>
                    <p>The Majic website does not store or capture personal information from persons viewing the home page
                       of the website, it merely logs the user's IP address, which is automatically recognised by the web
                       server.</p>
                    <p>However, persons requesting a user account to run the JULES model using the Majic website, and
                        access data will have their email address recorded, and this information may be used for CEH's
                        marketing purposes. These e-mail addresses will not be provided to anyone outside CEH.</p>
                    <p>The Licensor will treat any personal information provided or obtained, in accordance with the
                       provisions of the Data Protection Act of 1998.</p>
                    <p>Any personal information provided or obtained shall be used only for the purposes of providing
                        the Data to the Licensee, for communication relating to CEH products or services, and for system
                        administration of the web server, unless otherwise agreed by The Licensee.</p>
                    <p>The Licensor will on request, delete or remove any personal information held from a Licensee.</p>
                    <p>This privacy policy only covers the Majic website at http://majic.ceh.ac.uk. Other links within
                        this site to other websites are not covered by this policy.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>