<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="../layout.html" />
<head>
    <title>Model Runs</title>
    <link rel="stylesheet" type="text/css" href="../layout/joj.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>

    <style>
        .date {
            font-size: 12px;
            color: darkgrey;
            font-weight:normal;
        }
        .description
        {
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            color: darkgrey;
        }
        .status
        {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        /*.icon_span*/
        /*{*/
            /*text-align: center;*/
            /*text-shadow: 2px 1px #cecece*/
        /*}*/

        /*.icon {*/
            /*color: #800080;*/
        /*}*/
        /*.icon-text {*/
            /*visibility: hidden;*/
        /*}*/
        /*a.icon-green {color: #808080 }*/
        /*a.icon-green:hover { color:#38761d }*/
        /*a.icon-green:active { color:#38761d }*/

        /*a.icon-red {color: #808080 }*/
        /*a.icon-red:hover { color:#38761d }*/
        /*a.icon-red:active { color:#38761d }*/

        /*a.icon-green {color: #808080 }*/
        /*a.icon-green:hover { color:#38761d }*/
        /*a.icon-green:active { color:#38761d }*/

    </style>

    <script>
        function icon_hover_off(id)
        {
            var txt = document.getElementById(id);
            txt.style.visibility='hidden';
            var icon = document.getElementById("i_" + id);
            icon.style.color = '#808080';
        }
        function icon_hover(id)
        {
            var color = '#000000';
            if (id.contains('map')) { color = '#38761d'; }
            else if (id.contains('publish')) { color = '#711780'; }
            else if (id.contains('delete')) { color = '#990000'; }
            else if (id.contains('copy')) { color = '#f6b26b'; }
            var txt = document.getElementById(id);
            txt.style.visibility = 'visible';
            txt.style.color = color;
            var icon = document.getElementById("i_" + id);
            icon.style.color = color;
        }
    </script>


</head>
<body>
<h1>Model Runs</h1>
  <div class="well">
    Search and Filtering Panel
  </div>

<div class="row" py:for="model_run in c.user_models">
    <!--THE MAP ICON-->
    <div class="span1" style="text-align: center; text-shadow: 2px 1px #cecece">
        <br/>
        <!--If the run status does not allow visualisation we just display an inert icon -->
        <i py:if="not model_run.status.allow_visualise()" class="fa fa-globe fa-3x" style="color:#cecece"></i>
        <!--<i py:if="c.statuses[model_run.status_id].allow_visualise != 1" class="fa fa-globe fa-3x" style="color:#cecece"></i>-->
        <!--If the run status allows us to visualise the run on the map then we display the map icon with color / hover-->
        <a href="#" py:if="model_run.status.allow_visualise()" onmouseover="icon_hover('link_map_${model_run.id}')"
                    onmouseout="icon_hover_off('link_map_${model_run.id}')">
            <i id="i_link_map_${model_run.id}" class="fa fa-globe fa-3x" style="color:#808080"></i>
        </a>
        <div id="link_map_${model_run.id}" style="visibility: hidden">Visualise</div>
    </div>
    <!--THE TITLE AND DESCRIPTION-->
    <div class="span6">
        <h4>
            <a href="#">${model_run.name}</a>
            <span class="date">
                - ${model_run.date_submitted.strftime("%d %b %Y")}
            </span>
        </h4>
        <p class="description">${model_run.description}</p>
    </div>
    <!--THE ACTION ICONS-->
    <div class="span3" style="text-align: center; text-shadow: 2px 1px #cecece">
        <div class="row">
            <!--The Publish Icon-->
            <div class="span1">
                <br/>
                <!--If the run status does not allow publishing we just display an inert icon -->
                <i py:if="not model_run.status.allow_publish()" class="fa fa-users fa-2x" style="color:#cecece"></i>

                <!--If the run status allows us to publish the run on the map then we display the publish icon with color / hover-->
                <a href="#" py:if="model_run.status.allow_publish()"
                   onmouseover="icon_hover('link_publish_${model_run.id}')"
                   onmouseout="icon_hover_off('link_publish_${model_run.id}')">
                    <i id="i_link_publish_${model_run.id}" class="fa fa-users fa-2x" style="color:#808080"></i>
                </a>
                <div id="link_publish_${model_run.id}" style="visibility: hidden">Publish</div>
            </div>
            <!--The Copy Icon -->
            <div class="span1">
                <br/>
                <a href="#" onmouseover="icon_hover('link_copy_${model_run.id}')"
                            onmouseout="icon_hover_off('link_copy_${model_run.id}')">
                    <i id="i_link_copy_${model_run.id}" class="fa fa-copy fa-2x" style="color:#808080"></i>
                </a>
                <div id="link_copy_${model_run.id}" style="visibility: hidden">Duplicate</div>
            </div>
            <!--The Delete Icon -->
            <div class="span1">
                <br/>
                <a href="#" onmouseover="icon_hover('link_delete_${model_run.id}')"
                            onmouseout="icon_hover_off('link_delete_${model_run.id}')">
                    <i id="i_link_delete_${model_run.id}" class="fa fa-times-circle fa-2x" style="color:#808080"></i>
                </a>
                <div id="link_delete_${model_run.id}" style="visibility: hidden">Delete</div>

                <!--<a href="#"><i class="fa fa-users fa-2x" style="color:#711780"></i></a>-->
                <!--<a href="#"><i class="fa fa-share-alt fa-2x" style="color:#711780"></i></a>-->
                <!--<a href="#"><i class="fa fa-book fa-2x" style="color:#711780"></i></a>-->
                <!--<a href="#"><i class="fa fa-cloud-upload fa-2x" style="color:#711780"></i></a>-->
                <!--&nbsp;&nbsp;-->
                <!--<a href="#"><i class="fa fa-copy fa-2x" style="color:#f6b26b"></i></a>-->
                <!--&nbsp;&nbsp;-->
                <!--<a href="#"><i class="fa fa-times fa-2x" style="color:#990000"></i></a>-->
                <!--<a href="#" class="icon-red"><i class="fa fa-times-circle fa-2x"></i></a>-->
                <!--<a href="#"><i class="fa fa-trash-o fa-2x" style="color:#990000"></i></a>-->
            </div>
        </div>
    </div>
    <!--THE STATUS AND DATE-->
    <div class="span2" style="text-align: right">
        <h3 class="status" style="color:${model_run.status.get_display_color()}">${model_run.status.name}</h3>
        <span class="date">
            ${model_run.date_submitted.strftime("%d %b %Y at %X")}
        </span>
    </div>
</div>



<!--<h2>Published Model Runs</h2>-->
<h4 py:for="model_run in c.published_models">${model_run.id}: ${model_run.name}</h4>
</body>
</html>